[2015-12-05 16:59] benbeton opened #1 "Zone assignement"
Hi,

the plugin is working, thanks!
I want to understand how the zone assignement is done.

When I configure (json.config) living "room lamp" how is the mapping to the right lamp in my living room done?

regards

[2015-12-06 02:24] dotsam commented on #1
Zones are simply assigned in order. So if you only specify one zone, that's zone 1. The second zone in the array becomes zone 2. If you skip a zone or have a zone that you don't want homebridge to control, you can put in `null` for that zone.

[2015-12-06 16:19] benbeton commented on #1
thanks, perfect!

[2015-12-06 16:44] #1 closed

[2015-12-06 17:55] benbeton opened #2 "using more then one wlan bridge"
Hi Sam.

thanks for answering my last question.
Is it possible to use (include) a second or third ulna bridge. I'm considering to by a second one.

thanks

[2015-12-06 18:08] dotsam commented on #2
Right now you can just define another Milight platform in your config.json, but I'm planning an update soon where it can all be done under a single platform entry.

[2015-12-06 18:08] #2 closed

[2015-12-10 22:50] dotsam opened #3 "Command Queuing"
Many HomeKit applications send out commands at a very quick rate (ie. using a brightness slider, and sending every brightness value that the user moves over). With the way the MiLight protocol works and the way the node-milight-promise library queues commands, this becomes an issue.

Need to figure out the best way to handle this to improve responsiveness. Some way of throwing away excess commands

[2015-12-10 22:56] dotsam opened #4 "Brightness/Colour Temp on Non-rgbw bulbs"
rgb and white bulbs only support up/down commands for brightness and colour temp, not an absolute value. Currently we handle this by simply sending a single up/down command based on which side of the midpoint the commands are for.

There are a known number of steps for each of these values that the bulbs support, so ideally we would keep track of these and send the appropriate number of steps to g

[2016-01-10 22:08] Weldon26 opened #5 "White light from RGB and RGBW"
My rgb strips and rgbw bulbs are showing up fine in all my HomeKit apps. Awesome! But I can NOT figure out what I've done wrong in my config or what doc I didn't read that explains why I can't set their colors to white.
My rgb strips do a pretty good job of pretending they're white LED's. But There's no white in the color pickers for those strips in any of the HomeKit apps I've tried. My bulbs pro

[2016-01-10 22:19] dotsam commented on #5
I'm actually working on this exact issue as we speak. The MiLight bulbs don't support saturation, only brightness and hue, so I hadn't previously been including that characteristic for the bulbs. But it looks like depending on the implementation of the app, this prevents the colour from being set to white.

In the HSV parlance that HomeKit uses, white should be Hue = 0, Saturation = 0, Brightness

[2016-01-10 22:35] Weldon26 commented on #5
Thanks for the info! Glad to know I may not be quite as dumb as I was feeling there for a while. I was sure _I_ was the problem -- not the plug-in or the apps. And thanks for reminding me of the Insteon app. It was my favorite HomeKit app early on and somehow I had forgotten all about it. I'll stick to using it for now. Problem solved. :)

[2016-01-11 00:04] dotsam commented on #5
This should all be fixed in 0.1.0 which I just pushed.

[2016-01-11 00:04] #5 closed

[2016-01-11 00:10] dotsam commented on #2
The new config style has been implemented in the latest release.

[2016-01-13 07:55] kohlsalem opened #6 "Lost Commands"
Hi dotsam,

this might be dupe to the command quing bug, but I#m not sure there. In case i steer my milights "one by one", the plugin works perfectly fine. However, in "complex" scenarios, where i want to set all 4 lights of one wifi controler to different states & settings, commands get lost.

I read a bit in the source code. In the way the MilightController handles promises in send_request, this

[2016-01-14 19:59] dotsam commented on #6
Hi Michael,

Yes, I've been noticing this too and am not wasn't sure if it was the aggressive command delay I had set, or the multiple instances of the MilightController, but I suspect you're right. I'll take a look at this and try and get a fix out in the next few days.

[2016-01-17 19:59] kohlsalem commented on #6
I know, this is not in the sense of GIT, but I'm a bit to lazy to work into git for that.

By correction proposal (looks like it works for me):

[code]

[2016-01-17 20:08] kohlsalem commented on #3
Have you ever thougt to set a timer, when a command comes? When a new command comes, you could quit the first timer... The callback of the timer could actually send the commamd...

[2016-01-18 20:54] kohlsalem commented on #3
I changed this, and now the sliders as well work like a charm for me... :-)

[code]

[2016-01-20 00:10] #6 closed

[2016-01-20 00:28] dotsam commented on #3
This looks pretty good. I might work it so the timeout follows the delay and repeat set in the config, but otherwise, this looks to be the solution.

[2016-01-20 16:27] kohlsalem commented on #3
:-) I failed in accessing the delay, thought about this.

Another (better?) option would be to check the chain of open promises, but this was several levels to hard....

[2016-01-25 18:54] kohlsalem opened #7 "Missing red"
Hi again,

beside the question, why someone would set his light to "red", i noticed, that it is not possible via siri voice command.

Reading the source the root cause becomes obvious. However, is it really correct to determine white mode on the hue=0?

Should'nt it be saturation=0, while every saturation >0 returns to last hue?

Best
Michael

[2016-01-28 00:08] dotsam commented on #7
Hi Michael,

That part of the code was rather hastily thrown together as I was figuring out how different apps set hue and saturation differently when one property or the other wasn't present. Since these calls are sent separately, I'll probably have to take another look at this and check the current value of the saturation when doing anything based on the hue that is being set.

[2016-01-28 19:00] kohlsalem commented on #3
In case you did not find it by yourself: my coding proposal has a nasty stupid bug: If e.g. a scene macro sends several brightness commands to different bulbs, only the last would survive.

Somehow the concept with timers would need a timer per bulb.

[2016-01-28 20:03] kohlsalem commented on #3
Ok, i fixed that and added the delay from config. Now i have no losses on szene macros AND a smooth slider behavior. :-)

`var brightnessTimer = new Array ();

MiLightAccessory.prototype.setBrightness = function(level, callback) {

  clearTimeout(brightnessTimer[this.name]);
  brightnessTimer[this.name] = setTimeout(setBrightnessTimer, this.light._delayBetweenCommands, this, level);

  callback(nu

[2016-01-28 20:07] kohlsalem commented on #3
@dotsam, Ok, i fixed that and added the delay from config. Now i have no Issues on scene macros AND a smooth slider behavior. :-)

[code]

[2016-06-12 09:38] NewFolk commented on #7
Hello, is there any update about red support with Siri ?

[2016-06-28 03:28] dotsam commented on #7
Fixed in 0dbe67abc17ac0f26237c1a792b32d8ea85175db

[2016-06-28 03:28] #7 closed

[2016-10-02 12:17] Bob1986 opened #8 "Newby problem, Eve cant read LED Bulb Status"
Hello,

I´m a Newby with raspberry and I have an Issue with my milight setup.

I have an raspberry with zwave Modul and homebridge link.

The Milight bulb work in Eve and send corret commands to my RGBW Bulbs.

But EVE cant read the Status of the Bulbs correct.

When i turn the bulb on and restart the homebridge server than eve says the Bulb is off but the Bulb still lighning.

Is there a worktrou

[2016-11-14 18:53] doooh commented on #3
@dotsam Any chance you had time to look into this proposal from @kohlsalem . This looks pretty good to me and I think this would make changing brightness a lot more smooth.

[2016-11-21 10:30] joq3 opened #9 "Sunrise?"
Hi,

I'm about to pull the trigger on MiLight (they are the only cheap ones that have E14 bulbs).
And I want to know if it is possible to set a time that activates a sunrise-function (wakeup).
Is this possible with the MiLight and homebridge-milight?

Thank you!

[2016-11-22 23:18] dotsam commented on #9
Hi @joq3,

Right now, it doesn't look like there's a way to do this, since a HomeKit timer only allows you to take one action at a time with an accessory. In order to support this, I'd have to see if it's possible to add another "switch" to each bulb that would start a "sunrise" sequence, but then I'd also have to see how this impacts queuing of other commands. I'll look in to it when I have the t

[2016-11-22 23:21] dotsam commented on #8
Hi @Bob1986,

Unfortunately not. The MiLight protocol is only one-way, so there's no ability to read the status from a bulb. HomeBridge keeps the status in memory when it's running, and ideally HomeBridge should be long-running, so this isn't an issue.

[2016-11-22 23:21] #8 closed

[2016-11-22 23:27] dotsam commented on #3
Hi @dooh,

Yes, this is still something that I want to implement, but haven't gotten around to just yet. I'll probably implement this in tandem with updated functionality for setting the colour/brightness of a bulb (right now there can be issue going in/out of white/colour mode)

[2016-11-27 17:00] cis2131 opened #10 "New Milight controller"
Does this works with the new milight controller.

http://www.milight.com/milight-wifi-receiver-bridge-3-0-controller-box/

Claus

[2016-11-29 22:23] dotsam commented on #10
Hi Claus,

The new controller will have to be supported by @mwittig in the node-milight-promise project. But it looks like they're already aware (https://github.com/mwittig/node-milight-promise/issues/7) so I will make any changes that might be required once that module is updated.

[2016-11-30 12:38] joq3 commented on #9
I'm about to purchase a few Milights E14. I have found that they are available in only white (Cold white and warm white combined) and also RGB + Cold white.
I want a lamp that gives me the most realistic light as a normal bulb. Which should I select? Can the RGB model do a "warm white" combined with the colors?
I have no need for RGB except as a wake up light (which is not possible).

So what mode

[2016-12-01 02:31] dotsam commented on #9
I believe the original RGBW bulbs are sold in both a warm white and a cold white variety. Either way you go, warm white will probably get you colour temperatures closest to an incandescent bulb. The original RGBW bulbs cannot do white + colours.

There are however new RGBW/WW/CW bulbs that I believe can do white + colours, but they require the 6.0 version of the WiFi bridge, which the plugin (more

[2016-12-02 17:43] duecedriver commented on #10
thanks.. same boat here.. just got a new v3 hub .. can you ping us when you push the update..

[2016-12-02 21:31] duecedriver commented on #10
found the api for the v6 if it helps anyone on the limitlessled website

Section 1. Manual Web Browser Wifi Bridge v6 Setup.
Connect Phone to Milight AccessPoint
Use Phone Web Browser to http://10.10.100.254
Username: admin
Password: admin
Work Mode: change to STA mode, press Save
STA Setting: Scan for your Home Wifi Router
Encryption Method: WPA2PSK
Encryption Algorithm: AES
Password: enter your

[2016-12-14 18:22] zuroph commented on #10
Hi guys, quite new to this, but set up homebridge today on my mac and after much playing with config managed to get it communicating properly with my iOs device on iOS 10. The homebridge works and connects, and the 2 milight zones show as named in the config, but don't appear to be linked to the actual lights/hub at all, and are unresponsive to home app commands. Have I done something wrong, or is

[2016-12-14 19:05] dotsam commented on #10
@zuroph Yes, since the protocol for the v5 and below bridge is completely 1-way, there is nothing in the plugin to fail if it's not talking to the right bridge. It's just blasting UDP out with no expectation of getting anything back.

Keep an eye on the node-milight-promise issue I mentioned earlier for updates on the underlying library being updated to support the new bridge, and I'll hopefully b

[2016-12-14 19:07] dotsam commented on #4
Basics are implemented in ad8e46d1e5dcee8489ff7df815b6c1413dd1666a but I still want to try and work this in with #3 as well so things work as smooth as possible.

[2016-12-15 22:28] ciapamusche opened #11 "cannot run home bridge"
This is my error message

events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::51826
    at Object.exports._errnoException (util.js:1026:11)
    at exports._exceptionWithHostPort (util.js:1049:20)
    at Server._listen2 (net.js:1257:14)
    at listen (net.js:1293:10)
    at Server.listen (net.js:1389:5)
    at EventedHTTPServer.listen (/usr/local/lib/node_m

[2016-12-15 22:52] dotsam commented on #11
Looks like you already have something running on port 51826 (maybe another instance of Homebridge that you didn't stop?), but regardless, it's not getting to the point yet of loading this plugin, so as suggested in the Homebridge readme (https://github.com/nfarina/homebridge#community) you should open an issue over there or join their Slack channel for more help.

[2016-12-15 22:52] #11 closed

[2016-12-15 22:54] ciapamusche commented on #11
already changed the port.
The program runs . iPhone can see the home bridge but when i insert the pin code in my phone after a while it says impossible to connect

[2016-12-17 00:00] nitaybz opened #12 "Switching between white and color"
Hi,

First of all I gotta say, you app works great, and super easy to implement, so thanks for that.

Second thing, I noticed that on my 'Home' app, when I switch between white color to RGB color I have to push the button twice for that to happen, it's not happening when I switch from RGB to white but only from white to color, that is weird, even between colors it works perfectly, only one press a

[2016-12-22 00:36] dotsam commented on #10
Initial support for the new bridge is now in node-milight-promise, so I have this in my dev branch now. That code isn't final/published yet however, so I'm going to hold off on pushing these changes to npm just yet. To test out these changes, please update the plugin with the command `npm install -g git+https://github.com/dotsam/homebridge-milight.git#dev`

Please leave me any feedback here, and i

[2016-12-22 00:57] dotsam commented on #12
Hi @nitaybz,

This sounds like fallout from an issue I tried to fix in version 0.1.3 where some Homekit apps send hue/saturation in a different order, and I wasn't able to set the light to white mode properly at all.

I'm planning on coming up with a better solution that will wait a few milliseconds after either a hue or saturation command comes in before taking any action to ensure the right comm

[2016-12-22 11:05] nitaybz commented on #12
That would be great, Thanks!
Waiting for your update...

[2016-12-22 20:42] zuroph commented on #10
maybe I'm making a massive noob error here, but when I try to install from the above I'm getting an error..

npm ERR! git rev-list -n1 dev: fatal: ambiguous argument 'dev': unknown revision or path not in the working tree.

[2016-12-22 20:57] dotsam commented on #10
Sorry @zuroph, had the wrong URL in there. I've edited my comment to have the correct URL, can you try it now?

I also failed to mention that you'll need to set the "version" key in the config, and the type to "fullColor" if you have the new bulbs. It's written up in the updated readme: https://github.com/dotsam/homebridge-milight/blob/dev/README.md#configuration

[2016-12-22 21:37] zuroph commented on #10
ok, trying now. updated config file and installed using above address. on launch home bridge I get

Unhandled rejection Error: getaddrinfo ENOTFOUND 192.168.0.101/24
    at errnoException (dns.js:28:10)
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (dns.js:76:26)

[2016-12-22 23:43] dotsam commented on #10
@zuroph Can you post your config here? Do you have `192.168.0.101/24` as the `ip_address` in the config? If so, you shouldn't have the CIDR notation in the config file, and I think the error here is from something trying to do a DNS lookup on that string as it doesn't see it as a plain IP address.

[2016-12-23 10:45] zuroph commented on #10
spot on, edited the "/24" out and took out another troublesome accessory from config, and had first successful launch, and switched a lamp on and off.

I have what I think are the older type bulb, so left the bulb value to RGBW in config.

First crash was during attempt to edit the colour choices in Home App.

TypeError: commands[this.type].hsvToMilightColor is not a function
    at MiLightAccesso

[2016-12-23 15:43] mwittig commented on #10
@dotsam Sorry, my fault. I have removed hsvToMilightColor without documenting it. I will put it  back in as part of helper.js. See README for details.

Note beyond, rgb lights are not yet supported. I'll try to figure out what the control sequences are if v6 bridge supports. It is not described on the web site and elsewhere.

[2016-12-23 19:27] mwittig commented on #10
Note, there are also some subtle differences in the command layout. For v6, all commands requires the zone id as first parameter! For the the future, I am planning to add a simpler API, something like a zone controller.

[2016-12-27 04:21] dnewton1133 commented on #10
@mwittig - I've been trialling the dev milight plugin against both my old v4 bridge and my new v6. A few issues to note:

1. When including both bridges in my config file, (v4 first, v6 second) - the lights controlled by the v4 bridge (RGBW) don't operate, yet they show in the Home app. When v6 is removed from the config file, the v4 bridge works fine.

2. Colour changing on the v6 (when configure

[2016-12-28 13:15] AlexNoop commented on #10
Hello, I would like test the dev version, but I can not install it ...

Npm automatically installs version 0.1.3...

see :

[code]

Can you help me please ?
Thanks ^^

[2016-12-28 22:33] dotsam commented on #10
@dnewton1133:
1. This is a bug I'm working on right now, should be fixed shortly
2. This may be related to the first problem. I'll have you re-test after I've pushed the fix
3. You'll define two bridges, both with the same IP and both as version `v6`, but set one type as `fullColor` and the other as `white`.

@AlexNoop You are in fact installing the dev version, as seen by the git commit IDs in th

[2016-12-28 23:15] dotsam commented on #10
@dnewton1133 If you install again from the git URL, then you should get the fix for multiple bridge types in the same config. Can you test it out and let me know if it's working for you?

[2016-12-29 08:40] AlexNoop commented on #10
@dotsam
Hello, thank you very much, it works great! However, the colors do not match ... for example, when I select the blue color on the home application, my light bulbs turn pink ... similar when I select a white temperature, my light bulbs select a random color.

Furthermore,

Will you implement a accessory for the bridge lamp like a bulb?

Also a button for night mode?

Thank you for all, for

[2016-12-29 08:45] AlexNoop commented on #10
If I can help, do not hesitate (I do not know how to code) =D

[2016-12-29 14:45] andyrooo82 commented on #12
i'm also having the same issue as described by nitaybz. I've also tried different combos of delay/repeat with no luck. only seems to work on the second attempt. if you could help dotsam that would be awesome. Other than this love this app, great work!!

[2016-12-29 14:54] mwittig commented on #10
@AlexNoop wrote:

@dotsam See my note on the color model of the v6 bridge - <https://github.com/mwittig/node-milight-promise#color-model>. Enabling the transformation by passing `true` as the second actual parameter to the hue command should do the trick.

[code]

[2016-12-29 21:22] andyrooo82 commented on #12
Also slightly off subject I've noticed if the ligh is set to blue 10% for example and you ask Siri to change the colour to say, yellow, it'll also increase the brightness to 100% (so it doesn't keep the brightness setting)

Any ideas??

[2016-12-29 22:45] dotsam commented on #12
Hi @andyrooo82, this is fixed in dev, and will be pushed out to npm either today or tomorrow.

[2016-12-29 22:53] dotsam commented on #10
Thanks @mwittig, I am doing that as seen [here](https://github.com/dotsam/homebridge-milight/blob/dev/index.js#L232) so I'm not sure why @AlexNoop is seeing this odd behaviour.

@AlexNoop can give me the output of running `npm -g list homebridge-milight` to confirm you're running code pushed after I made the changes yesterday? The bridge light should be fairly simple to add, so yes, I'll try and g

[2016-12-29 22:55] andyrooo82 commented on #12
Awesome, thanks @dotsam I'll keep an eye out for it.

[2016-12-30 11:47] dnewton1133 commented on #10
I've now had the chance to test the latest version as well and the changes you've made have worked - so thanks for making them so quickly.

There was a minor issue that some of the v6 fullColor lamps re-booted and needed re-pairing to the bridge on the first interaction after installing the new code (the MR16s I have) however since then the on/off interaction, dimming etc works perfectly.

I'm als

[2016-12-30 19:22] dotsam commented on #10
@dnewton1133 @AlexNoop Strange. I've just pushed a change with @mwittig's colour wheel correction code disabled. Can you do the `npm install` from the git repo again and see if that's now the correct behaviour?

[2016-12-31 00:53] nitaybz commented on #12
Hi @dotsam ! I just installed your dev branch and it did solved the switching white to color in one command so great thanks to you!! something else I noticed is that when switching from color to white it first switch it to red then immediately switch to white, all in one command so it really doesn't bother me as long as it turns white.

also I noticed what @andyrooo82 mentioned about the brightnes

[2016-12-31 01:01] dotsam commented on #12
@nitaybz Just tested this myself, and I get the same behaviour when asking Siri to change the colour of a light, but not when using the Home app, or Eve. So there's no bug in my code, Siri is simply setting the brightness, hue, and saturation (only used on the newest full colour bulbs) to predefined values when you say "blue" or "green".

[2016-12-31 01:08] nitaybz commented on #12
yes you are right... it is doing it only when using Siri!

what is the full color bulb? and will i be able to change the saturation of RGBWW bulb? is that even possible?

[2016-12-31 08:12] reedm commented on #10
@dotsam From what I can tell, the hsvToMilightColor function from @mwittig doesn't match what I'm seeing on limitless.com/dev documentation. The transformation should indeed switch from 360 to 255, but red is not at 176, but instead at 255.

I replaced the hsvToMilightColor return in helper.js

`return (256 + 176 - Math.floor(Number(hsv[0]) / 360.0 * 255.0)) % 256;`

with

`return (Math.floor(Numb

[2016-12-31 10:35] mwittig commented on #10
@reedm Are you referring to new full color RGB WW/CW bulbs?

Note, the different bulb types RGBW, bridge light, RGB WW/CW have different color circles.  The limitless.com/dev documentation does not match for RGBW and bridgle lights according to my findings.  I haven't been able to test with RGB WW/CW yet.

[2016-12-31 12:23] andyrooo82 commented on #12
@dotsam That makes sense, it's only doing the weird brightness thing when using Siri not Home or Eve. How do I  use the dev version or wil it be master soon?

[2016-12-31 12:38] nitaybz commented on #12
@andyrooo82 , you can use `sudo npm install -g https://github.com/dotsam/homebridge-milight.git#dev`

[2016-12-31 12:43] andyrooo82 commented on #12
Thanks @nitaybz do I need to uninstall the milight plugin first or will this overwrite? sorry first time i've installed from dev.

[2016-12-31 12:44] nitaybz commented on #12
it will overwrite... and to be honest, I just found out how to do it yesterday :) cause I wanted this update as well

[2016-12-31 12:46] andyrooo82 commented on #12
nice one, cheers @nitaybz

[2016-12-31 12:55] andyrooo82 commented on #12
just gave it a quick test and seems to be working great! when setting from colour to white there is a very brief period of red but Stevie Wonder would be happy to see it. Thanks for the hard work @dotsam

[2016-12-31 13:55] mwittig commented on #10
I have received a RGB WW/CW bulb,  today. So, I am now in the position to do testing for full color as well.
As supstected ealier some bulbs do not seem to be callibrated properly. Mine shows red at 0x08 instead of 0x00 / 0xFF where it shows magenta.

Regarding saturation I can confirm the value Milight value is inverted to what you'd expect. The maximum saturation is 0 instead of 100. The milight

[2017-01-01 05:21] dnewton1133 commented on #10
Still doing some testing to see if the colours have improved, however one strange behaviour I'm seeing is that after re-starting homebridge and interacting with the devices for a short period of time (say 15 mins) the milight plugin seems to stop working/responding. A reboot sorts it out, however it's consistently stopping the same amount of time after each reboot.

The Milight app still woks, so

[2017-01-02 07:40] andyrooo82 commented on #12
Been testing this for a bit now and sometimes when setting to white either via Siri or setting a scene (so programmed to be white) it goes red. Has anyone else noticed this?

[2017-01-04 07:54] reedm commented on #10
@dnewton1133 I'm seeing the same. It just stops working and a reboot is required. I'll add that this seems to only affect the new v6 bridge, not the older bridge.

@dotsam It looks like @mwittig has added whiteTemperature() as well!

[2017-01-04 14:37] andcape opened #13 "Wall Switch Option"
Hello dotsam. I found you code some weeks ago and it is working so nice that I started thinking in newer possibilities, but I am really new working with homebrigde.
I was thinking about making an additional command when turning the lights on and off the milights to drive a relay (powered by an ESP8266) through HTTP, this way we could better control the on/off state through home app, because withou

[2017-01-04 17:35] mwittig commented on #10
@dnewton1133 @reedm Thanks for the notice!

Note, interaction with a Milight bridge happens in the context of a session which needs to be established first.  Unfortunately, the available documentation does not tell much about the bridge session lifecycle and how keep alive message are related to this. Personally, I don't like the idea of sending keep-alives every 5 seconds. I'll add a strategy to

[2017-01-05 07:02] dotsam commented on #13
Hi @andcape, this is probably outside the scope of this plugin, but doing a quick Google search for "esp8266 homebridge relay", it looks like lots of people have implemented this in various different ways, so hopefully you'll be able to find something that works for you.

[2017-01-05 07:02] #13 closed

[2017-01-05 07:06] dotsam commented on #12
@andyrooo82 yes, this is because of how Homekit Apps/Siri send the hue and brightness commands to the plugin. They're not always sent in the same order, so when either command is sent, there's some checking done to try and determine what should happen no matter which command is sent first.

In the future, I have plans to implement a small delay before either command takes effect to wait for any ot

[2017-01-05 07:18] dotsam commented on #10
I've reverted the last change that tried to disable the colour wheel correction now that it's properly implemented for rgbw bulbs.

I'm going to go ahead and push the dev branch live as there are other helpful changes in it, and the bugs still present will mostly be resolved in @mwittig's library.

@reedm As for the white colour temperature, I'm going to have to see how well this is supported by H

[2017-01-05 07:21] #12 closed

[2017-01-07 23:03] dotsam commented on #10
Hello All,

I've fixed an error today that I had actually been making for a long time (one bridge connection/object being created per bulb type to the same bridge when there should have only been one connection with just the commands sent differing) which I think could have also been contributing to the issues with the v6 bridge if you had multiple entries configured for multiple bulb types. Can y

[2017-01-08 02:32] reedm commented on #10
@dotsam I installed the latest version from npm and updated my config.json to match, but the problem persists. After ~ 15 minutes, the bulbs stop responding without a restart. This does seem like an issue with sessions closing after some pre-determined amount of time.

As far as color temperature, it sounds like "Color Temperature" is often a custom characteristic, which not all HomeKit apps suppo

[2017-01-08 03:05] dnewton1133 commented on #10
@dotsam - I've also had the chance to install the latest version now and am experiencing the same issue as @reedm. The new config syntax works fine, colours seem to have improved a lot so all in all a good step forward.

Just need to resolve the session closing issue now

[2017-01-11 17:01] lipdila commented on #10
Hello,
I've a Problem with my MiLight WIFI Bridge 3.0 (with intigrated light) and my two "rgbw" lights. With the original Miligt 3.0 App, everythins works fine. In Zone 1 is my First bulb/light in Zone 2 is my Second bulb/light. I can turn on/off the bulbs, also I can Switch the Colours. Everything works fine...
I used the second Layout in the App, to connect my bulbs/lights.

Now I installed the

[2017-01-11 17:43] mwittig commented on #10
@lipdila You're using a configuration for Milight v6 with your MiLight WIFI Bridge 3.0. Milight v6 is a new generation of the bridge with a different command layout which is not compatibly with your bridge model. Simply remove the "version" property from the config and it should work fine.

[2017-01-11 21:32] samsonrosen opened #14 "Config"
Hello,

Sorry to create an issue for this! I am not having much luck getting the config to recognise my setup.

I have just purchased a new MiLight hub (I think it's called a v3 with the built in light?). I have two bulbs which are setup as Zone 1 & 2 in the MiLight app. One is an RGBW 5w bulb and the other a 9W RGBW bulb.

Whilst the plugin runs, I end up with one switch called "MiLight" which wh

[2017-01-11 22:34] lipdila commented on #10
I've tried, but the same problem...nothing happens!?

My bridge is this:
http://www.milight.com/milight-wifi-receiver-bridge-3-0-controller-box/

I thought it's v6!?

Other ideas what I do wrong!?

[2017-01-11 22:42] mwittig commented on #10
@lipdila I am sorry.  I've been mistaken by the product name. You're right it is v6, so it must be set as part of the config.

[2017-01-11 23:58] dotsam commented on #14
Hi @samsonrosen, it looks like there's some confusion around the naming of the versions of the WiFi bridges. What milight.com is calling the 3.0 bridge is what others are calling the v6 bridge, and as such, you should include `"version": "v6"` in your config. Your lights should also be configured as such: `"lights": {"rgbw": ["Bedroom Light", "Bedroom Lamp"]}` (although I think you may have proble

[2017-01-12 03:25] samsonrosen commented on #14
Hi,

Thanks for the fast response! I have changed the config as so but I am actually still getting the same result. One switch appears (simply an on off switch) which forever toggles itself on and off but without affecting either bulb.

I've attached my current config again, alongside the terminal output.

I also double checked I am running 0.16

[code]

These are the two bulbs I have:

http://sho

[2017-01-12 07:29] lipdila commented on #10
Ok, I've change the config and add version "v6".
But my Problem is the same?! Everyone an idea, whats wrong?

[2017-01-12 10:13] zuroph commented on #10
how about the rest of your config? I had this when updating the plug in. I removed the home bridge from the home app, then force quite app. quit homebridge on computer. updated the "username" for the home bridge in the config file  (change the last two digits to anything else). restart home bridge, and then go through the add process in home app again, issue resolved.

[2017-01-12 11:49] lipdila commented on #10
I've did everything what you told. I removed the home bridge from my Home in the home app, forced quit the app, also home bridge on my raspberry pi. updated the config file (username, last 2 digits) and restarted the raspberry pi and so the home bridge. After this done, I added the new home bridge in my home app...but the result is the same :( nothing works...

Here is my complete config, maybe th

[2017-01-12 11:57] lipdila commented on #10
Here's also my settings from the milight bridge:
![bildschirmfoto 2017-01-12 um 12 52 26](https://cloud.githubusercontent.com/assets/25042553/21888772/ffb0a104-d8c5-11e6-8333-e7d75e1e4ceb.png)
![bildschirmfoto 2017-01-12 um 12 53 08](https://cloud.githubusercontent.com/assets/25042553/21888840/5cee8070-d8c6-11e6-9073-91653949cc48.png)

Maybe there's somting wrong?! Version, Ports,...!?

[2017-01-13 18:26] samsonrosen commented on #14
Tried the following config, but still only get 'MiLight' appearing in the home app.

[code]

[2017-01-13 19:00] dotsam commented on #14
@samsonrosen Just took a closer look at your config, and it looks like you've put the MiLight platform config within the `switches` array for the cmdSwitch2 platform. You'll have to bump it back out to the root of the `platforms` object.

[2017-01-13 19:31] samsonrosen commented on #14
Gosh, I'm terrible at this! Thank you so much looking over my rubbish config.

Turn out both my bulbs are RGBW. It works really well!

Did I read somewhere it's possible to get the LED Light in the MiLight Bridge acting as a bulb?

Thanks again!!

[2017-01-13 21:00] #14 closed

[2017-01-14 08:46] lipdila commented on #10
Everyone any idea what's wrong in my case? I despair slowly but surely :-(

[2017-01-14 10:47] samsonrosen commented on #10
It took me a bit of trial and error to get mine working with similar errors.

I had my bulbs labelled as fullColor when they were actually RGBW so it might be worth switching the bulb types incase they are not actually RGBW? Also I ditched the 'nulls' so my config looks like this:

 {
"platform": "MiLight",
"name": "MiLight",
"bridges": [
{
"ip_address": "255.255.255.255",
"version": "v6",
"lights

[2017-01-14 11:24] flipmoo opened #15 "Combining 2 lights in 1 config"
Hi there

I own a v3 wifi controller + 1 rgbw bulb and 1 rgb ledstrip controller.
Both work fine trough the milight app. (button 1 bulb, button 2 strip.)
But i only get 1 working trough homekit.

this is the current config: (gang = the bulb & kast is the strip)
{
  "platform": "MiLight",
  "name": "MiLight",
  "bridges": [
    {
      "ip_address": "192.168.2.14",
      "version": "v3",
      "lig

[2017-01-14 15:39] bentheone opened #16 "Cant get the lights working"
I'm using homebridge quite long now. Today my mi lights arrived and I tried to make them work with homebridge, but nothing I do gets them to work.
But I'm also not sure what type of lights I have. I ordered those:
https://www.aliexpress.com/item/4pcs-9W-E27-LED-RGBCW-or-RGBWW-bulb-Milight-AC85-265V-Four-Zone-Remote-WiFi-Controller/32653225173.html?spm=2114.13010608.0.0.d0GZUz

So I guess those are

[2017-01-14 16:48] mlinzner commented on #9
@joq3 you can achieve this by combining two homebridge plugins: Well of course homebridge-milight to control your bulbs and [homebridge-suncalc](https://github.com/kcharwood/homebridge-suncalc). Make sure to use the Elgato Eve app to configure the rule, because Apple's Home app flags suncalc as incompatible.

[2017-01-14 17:03] mlinzner commented on #10
@dotsam I can see the same issue as @reedm and @dnewton1133 have described. Controlling the lights works perfectly fine until a point where they no longer respond at all and a homebridge restart is necessary. Will make some additional tests and check if I can track it down. I'm happy to provide any useful data to track that down.

[2017-01-14 21:57] lipdila commented on #10
Some glass of wine and i solved my problem :)

I only changed my value for delay from 30 to 300. Now I can control my bulbs !?
...
           {
                "platform":"MiLight",
                "name":"MiLight",
                "bridges": [
                        {
                        "ip_address": "192.168.2.100",
                        "version": "v6",
                        "lights":

[2017-01-15 16:48] cheapjoe opened #17 "Connection stops working after ~10 minutes"
Hey,

I hope this is the right place to write about my issue. I ordered some rgbw-milight-bulbs and a wifi bridge. There's just an "iBox 2" written on the box. I can't find any further details about the exact version (same with the web frontend).

So let's come to the details. Configuration worked fine. Found out that it has to be v6 by trial and error.
After a random time (mostly between 7-15 min

[2017-01-15 16:53] heikodede commented on #16
I think you forgot the version. It's important, because iBox 2 doesn't work with the default value - v6 worked for me. Just add this. And adding ip address could also be a good idea. Just look for it in your router web frontend.

Here is a copy of my own config. Maybe it will help you.
`        "platforms": [
                {
                        "platform": "MiLight",

[2017-01-15 16:59] heikodede commented on #15
I don't have rgb lights, but in the readme you can find this detail "RGB lamps can only have a single zone".
I didn't find any example config, but just try some possibilities (just one array entry / no array, just a string / ...).
I hope this will help you :)

[2017-01-15 18:27] bentheone commented on #16
I added the version and the ip but still no reaction ... :(

[2017-01-15 18:55] netzpixel commented on #16
Ok, thanks. It works now after restarting everything. I only wonder how to use the bulbs with the bridge AND the remote. After linking everything with the remote, the wifi thing isn't working anymore and the other way around.

[2017-01-15 19:45] heikodede commented on #16
For me it worked when I first connected the bridge with the bulbs and when I could control them via app then pair with the remote. I read that it just works in this order and not other way around.

[2017-01-15 19:50] dotsam commented on #15
@flipmoo Most of the RGB LED strip controllers I've seen actually act as an RGBW bulb, and since you're controlling them on the same screen of the milight app as your RGBW bulb, that would seem to be the case for you too. So add "Kast" as the second item in your RGBW array and remove your RGB item and things should work.

[2017-01-15 20:00] dotsam commented on #17
Hi @cheapjoe,

This is the same issue we've discovered in #10 and @mwittig is working on in https://github.com/mwittig/node-milight-promise/issues/7

Essentially, the new bridges are session based, but since Homebridge is a long-running program and could receive commands at any time, that session needs to either be kept open or re-opened when it closes/times out (which seems to be around 10 minute

[2017-01-15 20:00] #17 closed

[2017-01-15 20:07] heikodede commented on #17
Oh. Thank you very much for your fast answer. Sorry that I didn't read this!
You're doing a great job. Have a nice day :)

[2017-01-15 20:08] dotsam commented on #10
Just to make sure everyone is on the same page, @mwittig is working on session management in the node-milight-promise library now, which should let long-running plugins/programs like this continue working past the 10 minute session timeout.

[2017-01-15 20:27] #16 closed

[2017-01-16 08:24] flipmoo commented on #15
Could you please show me the config example of the correct way form implementing the "second item"?

[2017-01-16 18:50] flipmoo commented on #15
With this config i see both "buttons" in homekit but both buttons (gang & kast) control the bulb but not the LED strip.

{
		"platform": "MiLight",
		"name": "MiLight",
		"bridges": [{

			"ip_address": "192.168.2.14",

			"version": "v3",

			"lights": {
				"rgbw": ["Gang"],
				"rgb": ["Kast"]
			},
			"repeat": 1,
			"delay": 30
		}

[2017-01-16 18:50] flipmoo commented on #15
And when is use rgbw vor the Kast (led strip) as well i get an error in jsonlint on twice using rgbw

[2017-01-17 02:09] dotsam commented on #15
Your config should look like this:
[code]

[2017-01-17 06:43] flipmoo commented on #15
YES That works! thanks!
But i do have 1 additional question.
Are the color settings fixable?
it does react to the color change option, but it doesn't match the color.

[2017-01-17 14:48] mwittig commented on #10
@dotsam Fyi, I have implemented basic session handling which creates a new session periodically (every 5 mins). This should solve the "stops working after ~10mins" issue for most users.

I am planning to further ellaborate on this to handle various error cases, e.g. "bridge had been unreachable" for some time and "error response received from bridge".  I am also experimenting with "keep-alive" whi

[2017-01-17 15:59] duecedriver commented on #10
can someone walk me through the status of limitlessly v6 support...

was this inclued in the 36.1 update?
if not... what is the walkthrough to install the required components .. kind make it noobproof!! hehe for ubuntu

lastly  I have a mix of 2ch strip controllers, rgbw, and the new rgbww bulbs...

so how it the yaml configured for these new v6 bridges?

thanks

[2017-01-17 19:29] samsonrosen commented on #10
Thanks @mwittig this has totally resolved my connectivity issues!

[2017-01-19 11:41] zuroph commented on #10
looking great with  latest updates!

interesting little bug, changing hue of bulb only works at 100% brightness.

IE
1) I have the light at 100% brightness, white.
2) I tell siri dim the light to 25% brightness, it works
3) I tell siri to turn the bulb blue, instead the bulb returns to 100% white
4) I tell siri again to turn the light blue, it works.

[2017-01-19 11:58] flipmoo commented on #15
Hi there, i'm still looking for a fix the match the color setting ont my mobile with the LED strip.

[2017-01-19 21:39] dotsam commented on #15
Are the colours wrong with the MiLight app? If so, you probably need to check the r/g/b wires from your light strip to the controller.

[2017-01-19 21:40] dotsam commented on #10
@zuroph I'll have to take a look at some of the logic I was using to work around some issues with setting the saturation of the RGBW bulbs and see how it should be working with the full colour bulbs.

[2017-01-22 19:47] dotsam commented on #10
@zuroph Can you confirm you're on the latest release of the plugin, and what kind of bulbs and bridge you have? I believe you have a v6 bridge with RGBW bulbs? I can't replicate this with a v5 bridge and RGBW bulbs, and I don't think anything should have changed on the v5 bridge in relation to this. Can you provide homebridge logs for when this happens?

[2017-01-22 20:32] samsonrosen commented on #10
Hey @dotsam, I love the work. Just wanted to share some similar bugs to @zuroph.

I'm using a V6 Bridge with an RGBW bulb. I've attached a video of some colour issues I find.
[Split Screen.m4v.zip](https://github.com/dotsam/homebridge-milight/files/722233/Split.Screen.m4v.zip)

[code]

[2017-01-24 04:42] dotsam commented on #10
@samsonrosen @zuroph Found and fixed the bug w/ v6 bridges. Pushed out version 0.1.7 that fixes this. Going to close this issue now, please open a new one if you find any other problems. Thanks!

[2017-01-24 04:42] #10 closed

[2017-01-24 04:44] dotsam opened #18 "Send fewer "on" commands"
We should be able to keep track of the last bulb (type + zone) we sent a command to, and not re-send the "on" command if we're not targeting a different bulb with the next command. This means one less command in the queue, which should make all subsequent commands faster.

[2017-01-26 21:27] mobster1940 opened #19 "Color change not working correctly"
I have recently bought 4 9W RGBWW milight bulbs off ebay, and I got an iBox2 bridge, which is a v6 model I guess and installed homebridge-milight to my rpi. Although my bulbs should work with the rgbw setup in config.json they only work when in fullColor setup. Strange as it may be, my problem is that even though brightness and on/off commands work ok, the colours change correctly only when the la

[2017-01-27 00:12] dotsam commented on #19
@mobster1940 Sorry, I thought I had fixed this in 0.1.7, but it looks like those commits never actually made it. Can you install again to grab 0.1.8 and confirm that it's fixed there? Thanks.

[2017-01-27 06:24] mobster1940 commented on #19
@dotsam Will try when I get home, thanks for the quick response!

[2017-01-27 17:37] mobster1940 commented on #19
@dotsam I tried with the new 0.1.8 version, but the problem remains. It seems that it does change the colour, but it also sets the saturation to 100 making it look "washed" from what I can tell. It also sets the saturation to 0 when I choose white as a colour, which instantly turns the bulb to the right colour before it turns to white.

[2017-01-28 09:31] samsonrosen commented on #19
Hi @dotsam, if you want to access to my homebridge setup for testing with camera you're welcome to VNC into my setup?

[2017-02-03 17:04] Struder47 opened #20 "WW/CW LED Strip Controller not working"
Sorry to create an issue for this!
I have a problems getting the following setup to work (please excuse my english):

Hardware: Milight Bridge ibox2 + WW/CW Led Strip Controller + home bridge (running on a raspberry pi):

The relevant part of my config.json looks like this:

{
            "platform":"MiLight",
            "name":"MiLight",
            "bridges":
              [
              {

[2017-02-04 03:38] dotsam commented on #20
Can you confirm what "page" of the MiLight app you're using to control the light strip? I've got a feeling that they're actually using the command sequence for rgbw bulbs. Can you try using type rgbw instead of white in your config.json instead of white and see if that works?

(As for having colour adjustment available in HomeKit apps for white bulbs, there's no other way to allow adjustment of co

[2017-02-04 09:02] Struder47 commented on #20
Thanks for your fast reply.
As long as i don't touch the color selector in the milight app I can use the brightness slider on the hue page of the app. As soon as I touch the color selector that method does not work anymore.

However I can always use the WW/CW Page on the app, as long as the colortemperatur slider is set to "warm".

I tried your idea of changing the type to rgbw, but sadly it still

[2017-02-07 11:00] andyrooo82 commented on #19
I've installed 0.1.8 and I am also seeing issues changing colour. I'm using RGBW bulbs and LED strips. I'm also using one of the older bridges. I've tried different combimations of delays and repeats but this didn't work and then saw this issue. I'm sure we've had this issue before and it was fixed in an earlier version @dotsam possibly 0.1.5 and I think 0.1.3 I can't remember.

i'm also seeing th

[2017-02-07 11:54] andyrooo82 commented on #19
**Update**
I've downgraded to 0.1.5 and changed my config back to the old setup and now the bulbs are behaving

[2017-02-07 18:15] Struder47 commented on #20
Any other idea?

[2017-02-07 22:34] dotsam commented on #20
Hi @Struder47, can you provide a link to more info about the WW/CW Led Strip Controller you have? I'm still not 100% clear if the strip controller is acting as a RGB, RGBW, or "Full Colour" bulb.

[2017-02-07 22:35] dotsam commented on #19
Hi All, I'm going to try and look in to this today and figure out why this regressed with versions > 0.1.5

[2017-02-07 22:47] andyrooo82 commented on #19
Another thing I have noticed having reverted back to 0.1.5 is that the brightness is sometimes unchanged. So if I'm going from Orange 50% and want to go to Blue 25% by way of setting a scene then the colour changes OK but the brightness will not budge from 50%.

[2017-02-08 09:49] Struder47 commented on #20
That is the controller I am currently using:

http://www.gearbest.com/led-accessories/pp_572162.html?wid=21

[2017-02-08 13:07] mobster1940 commented on #19
Hi, all, I have also tried reverting back to 0.1.5 but there is no change in behaviour, one thing I also noticed is that brightness drops to 50% when I set the colour to purple, maybe @dotsam can figure out why, waiting for fixes, fingers crossed!

[2017-02-08 21:57] haudegen9 commented on #20
Have the same hardware and the same issue. The stripe reacts perfectly with the milight app but never get any change in the light with homekit. Tried every type of bulb.

[2017-02-09 19:29] zelda1link3 opened #21 "Milight iBox led light"
The iBox has his own light. I am not able to control that light in any way. Am I doing something wrong or is this not implemented jet?

[2017-02-10 04:54] dotsam commented on #21
@zelda1link3 I'm working on implementing this now, will likely be pushing a new version in the next day or two.

[2017-02-10 05:18] dotsam commented on #20
So it looks like this should be set to the "white" bulb type. @mwittig looks to have discovered the byte sequence for white bulbs on the v6 bridge himself, so maybe he could chime in here with more details or troubleshooting steps.

[2017-02-10 05:39] dotsam commented on #15
Closing as no response. Please follow up if this plugin is producing different colours than the milight app.

[2017-02-10 05:39] #15 closed

[2017-02-10 05:42] dotsam commented on #21
I've just published 0.1.9 which now supports the "bridge" bulb type to control the built-in bridge LED. Let me know if it works for you, as I don't have a v6 bridge to test with.

[2017-02-10 05:43] dotsam commented on #19
Okay, I was able to replicate the issue and fix it in 0.1.9 that was just published. Please let me know if everything is working correctly now.

[2017-02-10 08:19] jgerits commented on #21
@dotsam  It turns on and off only the light is very dim (even at 100% it is not realy 100%) but i can turn it on and off and that is a great start i think. I could switch it 1 time to blue and it turned on 100% after that one time if i click on a color it wont change but it will turn on on very low light.

[2017-02-10 08:26] jgerits commented on #21
@dotsam what do you think that it is better to close this bug and create a new one with the brightness error?

[2017-02-10 13:37] andyrooo82 commented on #19
Thanks @dotsam I'll give this a go over the weekend and let you know

[2017-02-10 17:25] mwittig commented on #20
Hi, unfortunaetly I don't own a WW/CW Led Strip Controller for testing. I have dual-white bulbs which I can successfully drive using´the "commands.white" command set. See the following example for dual-white - https://github.com/mwittig/node-milight-promise/blob/master/examples/example-dual-white-v6.js

As @Struder47 said he "can always use the WW/CW Page on the app" I think the WW/CW Led Strip Co

[2017-02-10 19:49] dotsam commented on #21
Let's leave this issue open. I think I've found the issue, so I'll try and get a fix out in the next day.

[2017-02-10 22:40] jgerits commented on #21
I tried with commit f671f04d0674cad19d4a6f4ad70acef0cd0477dd.
The brightness is solved only the colors work kinda but i can't get it to white anyway.

[2017-02-10 23:06] Drnktxt opened #22 "Unable to use basic and complex functions on my LED strip"
I've got a MiLight Bridge V2/3, not exactly sure which version I'm running. But I've tried both versions nonetheless in the json file.

I've got the exact same bridge as in the picture that is linked.
[https://community-openhab-org.s3-eu-central-1.amazonaws.com/optimized/2X/f/ffcd0d3f739b14a13b217be350b6329154795a42_1_473x300.jpg](url)

I'm able to use the mobile iOS app, using the second remote a

[2017-02-11 00:44] dotsam commented on #22
Are you able to change your LED strip to white using the LimitlessLED iOS app? If your LED strip controller only works with the 2nd page/"rgb" mode of the Homebridge plugin, then I don't believe it can output white, and this is a hardware limitation of the controller, not anything on the software side.

[2017-02-11 00:48] dotsam commented on #21
White mode should be enabled when the saturation is set to 0 at any hue. Asking Siri to set the light to white should work fine. How are the colours different?

[2017-02-11 07:22] Drnktxt commented on #22
@dotsam I've just tried to get white light using the MiLight iOS app.

There is no proper button to get to white using the colorful dial as it is on the remote.
The workaround I used in order to set my RGBW ledstrip is to press a random color, then tap the "partymode"/program button once in order to get warm white.

This action can be both reproduced in the app and the remote.

PS: So far the soft

[2017-02-11 08:31] jgerits commented on #21
The strange thing is the following:

[2/11/2017, 8:29:26 AM] [MiLight] [Slaapkamer] Saturation is 0, making sure bulb is in white mode
[2/11/2017, 8:29:26 AM] [MiLight] [Slaapkamer] Setting saturation to 5 (NOTE: No impact on bridge MiLight bulbs)

this one turns it to white.

But

[2/11/2017, 8:30:06 AM] [MiLight] [Slaapkamer] Setting hue to 0
[2/11/2017, 8:30:06 AM] [MiLight] [Slaapkamer] Settin

[2017-02-11 09:28] haudegen9 commented on #20
Tried the commands white, rgb and rgbw and never get a change. :(

[2017-02-11 12:24] mobster1940 commented on #19
@dotsam I installed version 0.1.9 but the problem still remains, color changing is now faster, but saturation goes to 100 after the color change. I am not sure why this happens, and as I have mentioned in my first post I have rgbw bulbs but my config only works when I set it to fullColor. Maybe the problem lies there, if anybody else has this problem maybe we can compare notes?

Update: I also tri

[2017-02-11 18:44] dotsam commented on #19
@mobster1940 The bulb labelled RGBWW (as seen here with the original manufacturer http://www.futlight.com/productdetails.aspx?id=184&typeid=101) correspond to the `fullColor` set of commands in this plugin. The `rgbw` commands correspond to this older style of RGBW bulbs: http://www.futlight.com/productdetails.aspx?id=158&typeid=101

When asking Siri to set a light to a certain colour, Siri sets a

[2017-02-11 18:50] dotsam commented on #22
Hi @Drnktxt

Can you find a picture of the LED strip controller and the remote that you have? Since you can get the strip in to white mode via the app, that should also mean I can do it with the plugin. I'll have a look and see if I can get this implemented at some point.

[2017-02-11 18:57] dotsam commented on #20
@Struder47 @haudegen9 Are you able to try the example code at https://github.com/mwittig/node-milight-promise/blob/master/examples/example-dual-white-v6.js (you'll need to clone the repo and do an `npm install` beforehand) and let me know if it works?

[2017-02-11 21:06] Drnktxt commented on #22
[Remote and controller](https://www.ledstripkoning.nl/led-strips-rgbw/afstandsbedieningen/luxe-touch-rf-afstandsbediening-rgbw/)

These are the exact same as the ones I have.

[2017-02-12 11:36] Struder47 commented on #20
OK, i tried the different examples. Here is what I found out:

-  I am definitiv using a v6 bridge, as the discover-bridges-v6.js gives me:
  [ { ip: '192.168.178.31',
    mac: 'F0:FE:6B:16:8B:44',
    name: 'HF-LPB100',
    type: 'v6' } ]

-  I don't get any change of the light running the different examples except
    for the example-full-colour.js
When the example-full-colour.js is finished the

[2017-02-12 13:02] mobster1940 commented on #19
@dotsam Thanks for your quick response, I have the 2nd type of bulb that you mention which is rgbw, but homebridge only works when my config is set in fullColor. Maybe it has to do with the bridge (I have a v6 bridge, it actually says iBox2 on it). I noticed what you said about the color wheel and it is working as you explained, but it is easier for me setting the colours from Siri. About that, I

[2017-02-12 14:09] opauwels opened #23 "Milight (v6) Controller - Set protocol to UDP"
Hi,

This is not really an issue but more of a heads-up/reminder as this does not seem to be mentioned in the installation/readme files.
So perhaps this is noteworthy enough to add it to the read-me files or installation information.

Both a friend of mine and myself have Milight v6 controller bridges and raspberry pi's with homebridge installed. However we both could not get the homebridge-miligh

[2017-02-12 20:00] andyrooo82 commented on #19
Updated to 0.1.10 and works great. Thanks for sorting it out so quickly @dotsam

[2017-02-12 20:37] dotsam commented on #19
Homekit uses the "HSV" colour model for setting the colours of bulbs. If you look at the formula that converts from RGB to HSV, you'll see that the saturation for any combination of only two of R,G, or B is always 100%.

If you try a Homekit app that lets you set the values independently (Hesperus, for example), where is the saturation value where things look less "washed out"? I suspect that the

[2017-02-12 21:14] mobster1940 commented on #19
I just downloaded Hesperus and saw the same behaviour, colors appear washed out when saturation is at 100% and normal when saturation is at 0%. After reading your previous comment on what Siri does when you ask for a color I edited your code for the setSaturation function and added var newValue = value - 100; and set that as the command property and the lights behave perfectly! So, it probably has

[2017-02-14 06:46] Drnktxt commented on #22
@dotsam anything yet?

[2017-02-15 14:11] DasPflanze opened #24 "Wrong Saturation/Brightness/Colour"
In my setup (1 RasPi, 1 iBox2, 2 RGB Controller, 2 IKEA Dioder) everything works fine, but the staturation is wrong. Also setting the colourwheel to white, changes the LED to red. Setting it slightly beside the center activates the white mode, but the brightness is set too low. So i have to increase the brightness manually to get the full white mode.

![pjimage](https://cloud.githubusercontent.com

[2017-02-15 14:15] DasPflanze commented on #22
Try the fullColor mode, this is the only way i'm able to get my 2 RGB-Controller working. With this mode it is also possible to set the LEDs to white.

[2017-02-16 08:38] DasPflanze commented on #19
Jep, it's the same problem. Sorry for making another issue.

[2017-02-16 20:38] SkyJohn commented on #24
The colours are changing correctly, the way Apple displays the colour wheel in the Home app is just misleading.

If you look at the colour wheel in the mi-light app you can see why you're getting the same colours when you move into the inner area of the wheel.
![img_2508](https://cloud.githubusercontent.com/assets/7078053/23040047/cb169af6-f487-11e6-8803-4d59524223ac.png)

[2017-02-18 07:52] haudegen9 commented on #20
@dotsam Sorry, i can't install the repo, because homebridge runs in a docker on a synology.

[2017-02-20 16:08] Drnktxt commented on #22
I've tried the fullColor mode, unfortunately it gives the error below.

[code]

Since I do not have a V6 bridge nor compliant light bulbs it fails upon loading.
@DasPflanze Thank you for your contribution nonetheless.
@dotsam Have you made any headway with this problem by chance?

Yours,

Drnktxt

[2017-02-20 22:26] Struder47 commented on #20
Any way we can support you in implementing the support for the WW/CW controller?

[2017-02-24 14:06] mwittig commented on #20
Which WW/CW controller page are using exactly? I have been using the following page showing the remote which should be supported by the WW/CW strip controller you have.  As you said the controller is acting strange in your setup: *"As long as i don't touch the color selector in the milight app I can use the brightness slider on the hue page of the app."* I don't have this behavior with the WW/CW b

[2017-02-24 20:21] Struder47 commented on #20
You guys are awesome. Now it is working! I had the wrong remote selected. I only had to unpair the device, select the proper remote and then pair it again.

Thx so much!

[2017-03-01 11:50] zuroph commented on #19
seeing the same issue with colour wheel with 4 new gu10 RGBW+CCT bulbs added to my set up. the outer rim of the colour wheel sets the white light to full, which drowns out the colour, then inner rim of the wheel (the whiter part) sett eh colour but turns the white light down. its like the inside and outside of the wheel are inverted.

as an aside, you'll see I've also tried to add the bridge bulb

[2017-03-02 12:12] mobster1940 commented on #19
From what I understand, when rgbw lights are connected to iBox 2 bridge the saturation is inverted, same thing happens to the Milight app too, so maybe @dotsam/anyone can change the commands sent to invert saturation?

@zuroph I think you have an error in your config file, "bridge": ["ibox"],  shouldn't exist

[2017-03-03 12:26] Downlosc opened #25 "Can't get my bulb working."
Hi, i have a controller MiLight (not sure which version it is) but i can't get it working.
I tried setting it up in the json file with all the bridge's type (fullColor, rgbw...).
I get an "Unhandled rejection Error: no response timeout" when starting the server.
The bulb lights up for a second or less when i tap on the accessory in homekit. But this does not happen every time i tap on the app. It

[2017-03-03 12:37] SkyJohn commented on #25
What kind of bulbs are you trying to control? Do you have them set up and working in the milight app?

Can you show your config file?

[2017-03-03 12:48] Downlosc commented on #25
Yeah i did set them up on the app and they are perfectly working.
`  GNU nano 2.2.6                                                                  File: config.json

{
  "bridge": {
    "name": "Homebridge",
    "username": "CC:22:3D:E3:CE:30",
    "port": 51827,
    "pin": "031-45-154"
  },

  "description":"file config",

  "accessories":[],

  "platforms":[
    {
      "platform":"netatmo",

[2017-03-03 12:50] Downlosc commented on #25
Sorry, i still dont know how to paste code here

[2017-03-03 13:06] SkyJohn commented on #25
Does the light controller look exactly like the one in the image you posted?

If it does then you need to change the version number in the config to either v2 or v3 (not sure which will work). v6 is for a later model that has a different looking label on the front.

[2017-03-03 15:31] mwittig commented on #23
Thanks for the info. Seems like there are different firmware versions in the field already. My controller was set to UDP by default. Wich firmware version do you have?

[2017-03-04 10:42] Downlosc commented on #25
Yes it does look like that one.
Ok i'll try to change to v2, i've tried v3 a few days ago and it didnt work. Hope v2 works!
Keep you up to date.

[2017-03-04 12:00] mwittig commented on #24
@dotsam @DasPflanze I think the problem is a glitch in the Milight full color model. Different to what you may expect from HSV and HSL color models a saturation value of 100 does not mean 100% saturation, but it is 0% saturation. In other words the saturation value is inverted. I'll look into this asap as part of the underlying lib node-milight-promise to add an option for automatically inverting

[2017-03-04 16:21] zuroph commented on #19
Thanks Mobster, that was me trying to get the v6 bridge bulb to function as a light. I'm likely entering it incorrectly, but if someone can advise me on how to set it as a bulb/single zone I'd appreciate it. I gave up and removed that line for now.

[2017-03-05 10:35] DasPflanze commented on #24
Ok, it sounds logical. Thank you very much!

[2017-03-05 14:10] faltim commented on #19
Since yesterday I use this plugin to control my bulbs. I really like it. I have these problems with the saturation too. It would be nice if there is a fix in the future.

In addition I have a question. I have three basic e27 rgbw 6w bulbs. If I set my lights in the .config too "white" they doesn't work. Is that right? I thought that these variable could be used too control up to 8 bulbs with only

[2017-03-05 17:12] mobster1940 commented on #19
@bonze4 These variables are only for the bulb versions and zones

[2017-03-05 19:15] dotsam commented on #19
Hi All,

I've just pushed a beta of 1.0 to the dev branch, which, among other things, inverts the saturation value. If someone can give it a go and let me know how it works, that would be great.

[2017-03-05 19:15] dotsam commented on #24
I've implemented this in the dev branch, if you want to install that and see how it works. Thanks!

[2017-03-05 19:16] #20 closed

[2017-03-05 19:18] DasPflanze commented on #19
Because I anyway reinstalled my raspi I'm going to try the Beta. I hope it works!
So how do I install the beta?

[2017-03-05 19:47] dotsam commented on #22
I found the manual for the controller you have (http://www.futlight.com/productdetails.aspx?id=199&typeid=146&filepath=/ResumeInfo/FUT027.pdf) and it looks like white mode is actually "program 2".

Can you let me know how you can get back to a colour using the MiLight app? Do you just pick one from the colour wheel, or do you have to press "Program -"?

[2017-03-05 22:06] DasPflanze commented on #19
So if I done everything right (forked it and changed the version so I could install it with "npm install git://github.com/DasPflanze/homebridge-milight.git") I get this error:

Unhandled rejection Error: no response timeout
    at Timeout._onTimeout (/usr/lib/node_modules/homebridge-milight/node_modules/node-milight-promise/src/milight-v6-mixin.js:123:26)
    at ontimeout (timers.js:380:14)
    at

[2017-03-05 22:13] SkyJohn commented on #19
You need the http:// on the address I think..

[2017-03-05 22:17] DasPflanze commented on #19
Then I get this error:

[code]

I never used npm with git together, so I will wait for @dotsam to explain it.

[2017-03-05 23:01] dotsam commented on #19
You don't need to fork the repo, you can install directly from the dev branch with `npm install -g git://github.com/dotsam/homebridge-milight.git#dev`

[2017-03-05 23:05] DasPflanze commented on #19
I did exactly this before, but I got 0.1.xxx installed. I thought it was because of the "old" package.json, so I forked and changed the file.

[2017-03-05 23:06] dotsam commented on #19
I didn't update the package.json file, so you'll still see the old version, but you should see the git commit ID (7ca0266f8054e5aace355fecf72c238c3eab7154) that indicates you've installed the most recent version from that branch

[2017-03-05 23:07] DasPflanze commented on #19
Ok, I'll try it tomorrow!

[2017-03-06 08:06] DasPflanze commented on #19
Still getting this:
[code]

And I can't find the Homebridge in the Home App...

[2017-03-07 09:29] DasPflanze commented on #19
Ok, after reinstalling the PI homebridge now is working fine. But milight isn't...the logs are fine, no problems there, but no matter what I do, the LEDs won't change the color or brigthness. Just on/off is working. @dotsam could you look at this again?

[2017-03-07 09:33] mobster1940 commented on #19
@dotsam I can confirm this too, it seems that the change you made to the if clauses and replaced them with indexof are to blame, also check the line in setHue function where you check the saturation value, shouldn't it be -100 instead of 0 now that you inverted the saturation value?

[2017-03-10 23:55] dotsam commented on #19
Hi @DasPflanze and @mobster1940, I've tracked down the bug and pushed the change. Can you install from the git URL again and re-test?

[2017-03-11 06:43] DasPflanze commented on #19
Ok now the saturation is as expected but setting the colour to white (nearest to the middle) I get a wonderful ugly pink...

[2017-03-11 12:32] Drnktxt commented on #22
@dotsam Sorry for the belated reply. I've been swamped with my thesis, and haven't been able to get around sooner.
My Milight analog-2.4Ghz controller is the exact same as displayed. In order for me to set the colour to it's proper white for I need to press the function-button 9. Mode+.

To my knowledge, and due to extensive testing I can conclude that I can only set the led to white if I follow t

[2017-03-11 17:19] dotsam commented on #19
@DasPflanze Okay, that should be fixed up now too, fullColor bulbs should go in to white mode as well when saturation = 0

[2017-03-13 16:56] DasPflanze commented on #19
@dotsam yes, it's fixed. I guess the blue cast is due to the missing white LEDs.

[2017-03-13 20:31] dotsam opened #26 "Support white colour temperature setting on fullColor bulbs"
There is currently no standard HomeKit characteristic for colour temperature. The Apple Home app has a colour picker for "temperature", but this actually only sets an HSV value, with no way to separate is from a command setting another colour.

The Philips Hue bridge v2 implements the custom characteristic E887EF67-509A-552D-A138-3DA215050F46 for colour temperature, and a handful of apps support t

[2017-03-13 20:31] dotsam commented on #19
@DasPflanze This is actually because I haven't implemented colour-temperature changing on the fullColor bulbs yet. I'm going to close this issue now, and track that problem under #26

[2017-03-13 20:31] #19 closed

[2017-03-13 20:32] dotsam commented on #24
This has been confirmed to be fixed by testers in #19, so I'll be pushing a new version to npm shortly.

[2017-03-13 20:34] #18 closed

[2017-03-13 20:34] #23 closed

[2017-03-13 20:36] #24 closed

[2017-03-13 20:39] dotsam commented on #21
@zelda1link3 Can you test this with the just-released 1.0.0 and let me know if this is still a problem? Thanks.

[2017-03-14 08:30] mobster1940 commented on #26
@dotsam Thanks for the fix man, there is only one small bug that is present now, if you turn the lights white it needs 2 consecutive commands to turn the lights to any other color. I am writing this here because you closed #19.

[2017-03-17 18:38] jgerits commented on #21
@dotsam it works great now thanks for your effort

[2017-03-17 21:50] #21 closed

[2017-04-13 15:14] Olivier2803 opened #27 "Color toggling issue"
Hi,
I have 1 RGBW bulb connected to a V6 bridge. I have set two scenes in Homekit (Bedroom Lights , Night Lights)
Bedroom Light -->  Color  White , Brightness 100%
Night Light --> Color Blue , Brightness 6%

When i select the Bedroom Light the bulb turn white 100%, when I click on the Night  Light bulb becomes Blue 6%, But when I click back on Bedroom the bulb switch to white 6% not 100%. To make

[2017-04-22 02:43] dotsam commented on #27
Can you provide some Homebridge logs for when this happens? RGBW bulbs track brightness for white mode and colour mode independently, and depending on the order in which HomeKit sends the colour/brightness commands, this could be a problem.

[2017-04-22 03:27] ghost commented on #27
the logs attached have just been generated showing what happen when i click on the Night Light scene --> Bedroom Light (which turn up to 6%) -->Bedroom Light (which switch if the lamps) --> Bedroom Lights (which switch the bulb back to 100%)

[HomebridgeLog.zip](https://github.com/dotsam/homebridge-milight/files/948691/HomebridgeLog.zip)

[2017-06-14 19:33] sliza opened #28 "No reactions with valid connection and commands"
Hi Guys,

Following Problem,

Setup:

Old RGB LED Strips (probably 3.5 years old)
New MiLight V6 Bridge

RGB Strips can be controlled with Simple 1-zone RF controller
RGB Strips can be controlled over MiLight 3 App on iOS over MiLight v6 Bridge

Homebridge is running on a Raspberry Pi 2 Rev. B
Installed two days ago, so up-to-date.

Config

[code]

Output Initialization

[code]

Output Milight Ini

[2017-06-15 02:52] toshibochan commented on #28
"ip_address": "192.168.0.212",
 "version":  "v6",
"lights": {"rgbw": ["Desk"]},
"repeat": 3,
"delay": 100

If your bridge is the new v6? If not erase "version": "v6" line

[2017-06-15 02:54] toshibochan commented on #28
Your receiver is rgb but use rgbw on your config

[2017-06-15 02:55] toshibochan commented on #28
Send pic of your bridge and receiver

[2017-06-15 06:32] dotsam commented on #27
Sorry about the late response here. This issue appears to be related to both the order in which HomeKit sends commands, and how to bulbs keep track of brightness level.

In the logs you attached, you'll notice that the brightness is being sent before the hue/saturation commands. So the bulb is still in colour mode when it receives the 100% brightness command, but then when it switches back to whit

[2017-06-15 06:35] dotsam commented on #26
Hi @mobster1940,

I've pushed a new beta to the dev branch that implements colour temperature via a new official characteristic, and I've also made a change which may fix the issue you have with bulbs not changing colours with the first command out of white mode.

If you have a moment, could you test this version by installing with `npm install -g git://github.com/dotsam/homebridge-milight.git#dev

[2017-06-15 06:38] dotsam commented on #28
Hi @sliza,

I think @toshibochan is on the right track here. Many of the RGB strip controllers actually use the RGBW command set. Could you try and switch to that in your config file and see if that helps. If not, could you send a screenshot of what remote in the MiLight 3 app works to control these for you?

As for port 5978, that is the default port for v6 bridges, nothing out of the ordinary th

[2017-06-15 06:52] toshibochan commented on #28
use "delay": 80 not 100

[2017-06-15 06:56] toshibochan commented on #25
did work?

[2017-06-15 06:58] toshibochan commented on #25
try this
"ip_address": "192.168.1.5",
"lights": {"fullColor": ["Bedroom"]},
"repeat": 3,
"delay": 80

[2017-06-15 07:03] toshibochan commented on #22
if you hold the ON button on the remote will turn on on white

[2017-06-15 07:04] toshibochan commented on #22
try
                "ip_address": "10.0.0.100",
                "lights": {"rgbw": ["Bathroom LED"]},
                "repeat": 3,
                "delay": 80

[2017-06-15 10:02] crzdg commented on #28
Thanks guys!

I tried with RGBW and v6 on or off. No change at all
Only thing is if v6 not set I won't get any bytes received from the bridge. So pretty sure I have an v6

The old MiLight bridge could be a v4. Cause if I'm going on the webpage of it I only can land on a page were I can update the firmware. I can't set any settings, assuming that it's running on TCP and cannot receive the UDP packa

[2017-06-16 08:00] toshibochan commented on #28
Not sure but I think homebridge-MiLight only works with 4zone remote.

[2017-06-16 08:03] toshibochan commented on #28
![img_0340](https://user-images.githubusercontent.com/15816913/27217647-98084f6e-522f-11e7-9342-6ab15b19a7f0.PNG)
![img_0341](https://user-images.githubusercontent.com/15816913/27217646-98038312-522f-11e7-8cfb-5829bdceb614.PNG)

[2017-06-16 08:04] toshibochan commented on #28
This RGB and RGBW will work

[2017-06-16 08:51] ghost commented on #27
Hi, thank you for the update. i will be waiting impatiently for the plugin update.
Good Luck with the plugins and Thanks.

[2017-06-16 09:22] crzdg commented on #28
Isn't the type 'RGB' for 1-zone controllers?
This type only will pick the first zone out of the config. So sounds legit to me.
Or why should I config an RGB controller with 4-zones only as a 1-zone.

Will get an RGB 4-zone controller and test it out.
May it's possible to implement the old MiLight Bridge and it might working with the 1-zone over that.

Thanks ans greetings

[2017-06-16 09:26] toshibochan commented on #28
The developer who make homebridge-milight make to work only with 4 zone remote

[2017-06-16 09:27] toshibochan commented on #28
You no need to buy the remote! Just buy the receiver and use the app to control

[2017-06-16 09:29] toshibochan commented on #28
I recommend to buy RGBW receiver! And use RGBWW led strip

[2017-06-16 09:49] mobster1940 commented on #26
Hi @dotsam, I'm not at home now but I'll surely try it over the weekend and let you know. Thanks!

[2017-06-19 08:48] mobster1940 commented on #26
Hi @dotsam, I tried your dev release over the weekend but unfortunately colour changing after setting white doesn't work, you have to resend the command for the light to change colour. What's weird is that with the master release the colour change worked immediately when I gave the command through Siri, but didn't work when I did it from the Home app. I have realised that for some reason the satur

[2017-06-23 08:18] crzdg commented on #28
Ok, got a 4-zone RGB controller.
Everything works when I set it to "rgbw" in config.

Seems like 1-zone controllers won't work. And also that RGB and RGBW controllers use "rgbw" command set.

Thanks for help

[2017-06-23 08:20] toshibochan commented on #28
Did you connect your controller to your bridger?

[2017-06-23 08:22] toshibochan commented on #28
pair your controller to bridger zone one! Use the app to add the controller

[2017-06-23 08:27] toshibochan commented on #28
This is my config old version

![img_0361](https://user-images.githubusercontent.com/15816913/27473173-04738a32-57b3-11e7-9b92-e83ea84e7220.PNG)

[2017-06-23 08:33] toshibochan commented on #28
New version

![img_0362](https://user-images.githubusercontent.com/15816913/27473397-f5f0bfba-57b3-11e7-9632-d81c17178a37.PNG)

[2017-06-25 11:34] crzdg commented on #28
Everything works fine thanks!

Used a similar config as your second one.
Works like a charm at the moment, will adjust delay and repeat settings in future.

Conclusions:

1. homebridge-milight seems not to support 1-zone RGB controllers
2. 4-zone RGB and RGBW controllers use both the "rgbw" type command sets
3. Not sure if the 4-zone RGB controller would work with the older v4 MiLight Bridge

[2017-06-25 11:34] #28 closed

[2017-06-26 01:23] alexij1997 opened #29 "CW/WW led strip controller color temperature"
Hello, I have issue.(Partly associated with Issue #20  )
How I can adjust Kelvin(color temperature) via HomeKit for CW/WW led strip controller?
Now I can adjust only brightness and turn on, turn off the lamp.
In HomeKit, there is a color adjustment tab (RGB), but when I choose white color it changes lamp color to white (as it should be) - in HomeBridge log it looks like -

[MiLight] [Lamp] Setting

[2017-06-30 13:09] duecedriver opened #30 "basic usage question"
I am using the homebridge plugin to home-assistant...

I have this plugin installed but dont have it defined in the homebridge config.json and it seems to work ok... although this plugin can do more and acts differently than home-assistant.. i.e. night light mode

so my question...

provided the 'main' control layer is home assistant.. .should the only config device in the homebridge config.json b

[2017-07-02 17:00] duecedriver commented on #30
anyone.. bueler.. is this mike on ... hehe

[2017-07-03 20:21] SkyJohn commented on #30
Using both this plugin and the Home Assistant/Homebridge one wont cause any conflicts, other than obviously giving you duplicates of all your lights in the Home app, and having this plugins settings not sync up with Home Assistant.

As far as I know you can't get access to things like the disco function with this plugin either.

And the issue with different kinds of bulbs colliding has happened to

[2017-07-03 21:52] mwittig commented on #30
Wow, this sounds really depressing! Github, can I please give another star to the author of the project to appreciate his work? Thanks!

[2017-07-03 22:11] SkyJohn commented on #30
I wasn't saying anything bad about the plugin it works perfectly and I've been using it for months, I was just saying there is nothing to be gained from OP to be running this plugin if he is already using a Home Assistant system to control his Milights because they both do exactly the same job.

[2017-07-04 19:34] duecedriver commented on #30
@SkyJohn

thanks for the info.. I figured that if I installed it in homebridge along with home-assistant I would get double devices and probably chaos...

and to be clear

@mwittig

lovin the plugin ... dont know if its doing anything for me right now.. i.e. if home assistant is using it or not. but with home assistant piped through homebridge I get siri voice control over my lights

just wish tha

[2017-07-22 11:27] chietanjain opened #31 "Error in Logs and other color issues"
I am getting the following error in my logs at startup:

Jul 22 16:07:38 pi homebridge[19564]: Unhandled rejection Error: no response timeout
Jul 22 16:07:38 pi homebridge[19564]: at Timeout._onTimeout (/usr/lib/node_modules/homebridge-milight/node_modules/node-milight-promise/src/milight-v6-mixin.js:123:26)
Jul 22 16:07:38 pi homebridge[19564]: at ontimeout (timers.js:488:11)
Jul 22 16:07:38 pi h

[2017-07-22 13:58] mwittig commented on #31
Regarding the unhandled exception error this is a bug in the base library and will be fixed asap

https://github.com/mwittig/node-milight-promise/issues/26

[2017-07-22 14:56] turbidWaters commented on #31
Thank you for pointing that out. I should have checked before putting that up.

As for the rest of issues I have mentioned, I tried deleting persist, cachedaccesories, changed username and HomeKit pairing code, deleted all homes from HomeKit and re-added homebridge and all accessories. The behaviour still seems to be the same. I tried increasing the repeat time and milli seconds (to 3 and 90). Sti

[2017-07-22 16:13] buschco opened #32 "Can't control but app + remote works"
Hello,
I have ...
- one LED RGB Strip
- (I think) v2 WiFi box
[https://www.amazon.de/gp/product/B01MZCT30I/ref=oh_aui_detailpage_o01_s00?ie=UTF8&psc=1](url)
- LED Strip controller
[https://www.amazon.de/gp/product/B00LL2AQJQ/ref=oh_aui_search_detailpage?ie=UTF8&psc=1](url)
- Remote control
[https://www.amazon.de/gp/product/B015RPZWBE/ref=oh_aui_search_detailpage?ie=UTF8&psc=1](url)

I attached an

[2017-07-22 18:21] dotsam commented on #32
This LED strip controller seems to be the newer 4-zone version (http://www.futlight.com/productdetails.aspx?id=201&typeid=146) which should respond to RGBW commands. Your WiFi bridge is v6. I believe this setup was confirmed working in #28 (where there were issues with a single-zone RGB controller, but not this one).

A working config should look like this (assuming you've paired the controller to

[2017-07-22 18:33] dotsam commented on #30
If my plugin isn't configured, it won't be doing anything. And since MiLight only has one-way communication and no concept of state, I suggest you pick only one way of controlling your bulbs, so that there is some consistency for on/off/colour state.

If you want more features from Home Assistant, you should open an issue at https://github.com/home-assistant/home-assistant

[2017-07-22 18:33] #30 closed

[2017-07-22 18:35] dotsam commented on #29
I'll be resolving this in #26. The official HomeKit colour temperature characteristic was only recently documented, so before now there was no way to cleanly separate RGB colours from colour temperature.

[2017-07-22 18:35] #29 closed

[2017-07-22 18:35] #25 closed

[2017-07-22 18:47] dotsam commented on #31
Hi @chietanjain,

This sounds like a similar issue to #27 and other issues related to the order in which different HomeKit apps send commands. I think that ultimately this requires the sort of re-structuring that I was thinking about all the way back in #3.

But if you could still provide some logs for the issues with only the first fullColor bulb changing when sending a "all lights" command, that

[2017-07-22 19:14] buschco commented on #32
Thank you for your reply, but it didn't helped me.
So I switched to UDP in the iBox and tried version 1-6 but none worked. App and remote are still working.
I am also wondering if that thing will work (I always thought that is the version 6)[https://www.amazon.de/gp/product/B01N1I6ZK0/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1](url)

[2017-07-23 00:31] dotsam commented on #32
All of the "iBox" versions use what I'm referring to as the v6 protocol. Can you try running homebridge as `MILIGHT_DEBUG=true homebridge -D` and provide the output to confirm that a session can be established with the bridge, to see if the problem lies in the connection or in the commands being sent.

[2017-07-23 06:09] dotsam commented on #31
I've pushed version 1.1.0 which I'm hoping addresses both of these issue, but as I don't have a v6 bridge or RGBW+CCT bulb, I can't say for sure. Please update and let me know if things are working better.

[2017-07-23 06:13] dotsam commented on #26
I've just released version 1.1.0 which implements colour temperature changing for RGBW+CCT bulbs, and hopefully also makes colour changes more reliable when commands are sent in different order. Please upgrade and test when you're able to and let me know if things are working correctly.

[2017-07-23 08:21] buschco commented on #32
[code]

[2017-07-23 11:56] turbidWaters commented on #31
Hi @dotsam

Thank you for your feedback.

Based on my understanding I have put together four scenarios (headings as 'PART 1', 'PART 2' ...) and included the logs for the same. Note that the Cove and Chandelier are 8W MiLight RGB+CT bulbs and the Kitchen and Wash are 12W RGB+CT Milight Downlights. I think there are some issues with these lights wrt color as sometimes the color on these lights don't

[2017-07-23 12:28] turbidWaters commented on #31
Hi @dotsam
After making the last post, I created a scene with two lights (the cove and the chandelier). When using to siri to issue the command to execute that scene (when the lights have already been switched on using siri and turned to white), every time I use siri to execute turning on the scene, only the cove lights turn color, the chandelier still remains white. The same thing when using the

[2017-07-23 21:03] magichew opened #33 "Turn on to night mode"
I was hoping to use night mode along with some sensors and the new automation setting in iOS11 to bring the lights on to night mode when motion is detected during the night (for example to light the way to the bathroom) but setting a Milight button to <5 doesn't initiate night mode rather that last setting that the light was on.

Am I not doing something right?

[2017-07-26 14:01] buschco commented on #32
Ok I have an update:
I bought this bridge: https://www.amazon.de/gp/product/B01N1I6ZK0/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1
I set it up and changed to UDP (they are apparently all shipped with TCP as default). It didn't worked.
So I changed back to UDP played around with version and light Type (rgb, rgbw, fullColor) and like magic this configuration works:
[code]
As you can see I also got t

[2017-07-26 14:01] #32 closed

[2017-07-26 14:29] mwittig commented on #32
You changed back to >> TCP <<, right?
I am not sure what these modes, aka. UDP versus TCP are good for, but as far I can tell there no need to change the factory settings. So, TCP mode works with UDP clients.

[2017-07-27 18:52] buschco commented on #32
as described in [https://github.com/dotsam/homebridge-milight/issues/23](url) I changed it to UDP because it was not working. But it seems that this not helped so **I changed back to the factory settings (TCP) and it works now.**

[2017-09-08 23:27] HonzaaD commented on #22
I have same problem :(
I have this controller **RGBW FUT027**
http://www.futlight.com/productdetails.aspx?id=199

<img width="486" alt="Controller" src="https://user-images.githubusercontent.com/12045527/30234232-8db3586a-94fb-11e7-935d-5db9e9f7903a.png">

And **WiFi iBox1** (MID: HF-LPB100, SW: V1.0.08, Web Ver: 1.0.14)
http://www.futlight.com/productdetails.aspx?id=235

I choose my remote in iOS

[2017-09-09 05:01] GreenTentacle opened #34 "Same Hostname, Different Ports Doesn't work"
When I had my config file as this, controlling something like "Bedroom Lamp" actually controlled "Disco Light"-- so device #1 on the second bridge actually controlled device #1 on the first bridge.  ("Bedroom Lamp" also controlled itself correctly)  The bridge is run by https://github.com/sidoh/esp8266_milight_hub and I've created 2 virtual UDP bridges.

 It looks like if I used the same hostname,

[2017-09-13 11:04] stainlessdk opened #35 "semi working"
Hi

im having trouble changeing the color with the siri commands, its working fine in the homeasistent, it keeps saying its not supported

i have a v5 and v6 (ibox2) brigde

my bulbs are gu10 rgbw (not cct model) i cant figure out if the problem is with homebridge or milight plugins

any advice

here is my config

 "ip_address": "172.16.10.227",
                "version": "v6",
                "li

[2017-09-16 16:41] samsonrosen opened #36 "WiFi Box LED"
Hi! I have the V3 box. Is there a way to get the LED to show as a Light in Homekit? Do I need to add something to my config..

Thanks,

Sam

[2017-09-20 19:34] dharrison8815 commented on #36
I added my v6 hub as two separate devices. One for the four groups and one for the hub itself both with the same IP address. I've pasted this portion of my config file below:

 {
					"ip_address": "10.0.1.7",
                    "version": "v6",
					"lights": {
						"fullColor": ["Kitchen", "Island", "Pendant", "Entryway"]
					}
				},
                            {
					"ip_address": "10.0.1.7

[2017-09-20 20:46] dotsam commented on #36
@samsonrosen Yes, you'll need to add the "bridge" bulb type to your lights object as below.

@dharrison8815 This should be in a single bridge like below:
[code]

[2017-09-20 20:52] dotsam commented on #34
Yes, it looks like this is a bug, I tack unique bridges based only on IP address, when I should do it on a unique ip/port combo. I'll also turn off node-milight-promise's [fullSync](https://github.com/mwittig/node-milight-promise#whats-new--version-02x-breaking-and-notable-changes) feature when I do this so bridges are controlled fully independently.

[2017-09-20 21:00] dotsam commented on #33
Hi @magichew, sorry about the late response. This may be fixed in 1.2.0, which I published as a beta a while back but never really had the time to fully test. You can install it with `npm install -g homebridge-milight@beta`. Let me know if that works.

[2017-09-20 23:41] dharrison8815 opened #37 "Several V6 questions"
Hello!

I am currently experiencing some bugginess using some milight v6 bulbs. Please know that I do not have much experience with coding.

1) It seems when asking Siri to change the color of any given light, that a hue command of 0 is sent first. For instance, if the light is currently in white mode and you ask Siri to change the lights to blue- the lights will momentarily flash to a hue of 0(a

[2017-09-21 14:02] jannnfe opened #38 "Control not possible with Home App"
Hello,
I bought this MiLight iBox2 (idk. witch version v1-v6?) and this RGBW Bulb.
With the MiLight App everything is working fine!
I try to integrate this MiLight System into my HomeKit Homebridge.

![img_6188 2](https://user-images.githubusercontent.com/30130742/30699816-0705a440-9ee6-11e7-8b44-186b6fec5cd3.jpg)
![img_6189 2](https://user-images.githubusercontent.com/30130742/30699817-07227b56-9

[2017-09-23 04:59] samsonrosen commented on #36
Hi @dotsam,

Sorry for the delay in the response! I have added the configuration but nothing happens in my Homekit app. I have noticed I am getting an error when initialising Homekit however.

[code]

[code]

[2017-09-23 22:35] dotsam commented on #36
Can you confirm what version of the plugin you currently have installed with `sudo npm list -g homebridge-milight`?

[2017-09-24 07:10] samsonrosen commented on #36
Hi!

V0.1.7

[2017-09-24 07:14] samsonrosen commented on #36
Goodness! I apologise, I definitely ran the update command yesterday... I just used the install command and it’s brought me up to date and the plugin works again!!!

Thanks so much for making this the most cost efficient lighting set on the market!!

[2017-09-24 07:14] #36 closed

[2017-09-25 20:22] dotsam commented on #38
The port for v6 bridges should be `5987`, or just leave it out of your `config.json` to use the default.

[2017-09-25 20:22] #38 closed

[2017-10-06 07:33] fghekman opened #39 "More than 4 zones?"
Hi,

I am using the new 8 zone remote in combination with the latest WiFi box v6 (iBox2). When selecting the 8 zone remote in the milight phone app I can assigning the RGBCCT lights to the 8 zones. When I use your software to control the light by homebridge I can only assign 4 zones. When I use more than 4 zones, the 5th zone is overwriting the 1st one.

It would be great if more than 4 zones are

[2017-10-06 08:46] mwittig commented on #39
Hi,

I am the developer of the base package [node-milight-promise](https://github.com/mwittig/node-milight-promise) used as part of homebridge-milight. I have [RGBW/WW/CW Full Color bulbs](http://www.limitlessled.com/shop/rgbw-ww-cw-light-bulb/), an ibox1 controller and the latest iPhone App. When I select the 8-zone remote in the App as shown below I am not able to link it with bulbs I have. Thus

[2017-10-06 10:26] fghekman commented on #39
Thanks for your answer,

The lightbulbs I use are the [4W GU10 RGB+CCT LED Spotlight (FUT103)](http://www.futlight.com/productdetails.aspx?id=223&typeid=101) and I am referring to the same remote as you mentioned in your picture. I'm only using the 8 zone remote in the app at the moment. When I select the remote I can link (using my iBox2 see picture) 8 zones to the remote. Alle the lights I linke

[2017-10-09 11:59] mwittig commented on #39
@fghekman Thanks for the response. As you say your ibox1 doesn't work either it seems like this is a firmware issue. I think I can add support for 8-zone control though, but I'll need your help with testing stuff at some point. The first step for me will be to decode the on the wire protocol (using a packet sniffer). For correspondence please use the linked ticket.

[2017-11-04 13:43] fjh40 opened #40 "Config.json error"
Hello, i'm Felix and completely new to using Ubuntu.

I've tried to install homebridge and get that to work with MiLight, only i can't seem to get the config.json file right.

*** WARNING *** The program 'node' uses the Apple Bonjour compatibility layer of Avahi.
*** WARNING *** Please fix your application to use the native API of Avahi!
*** WARNING *** For more information see <http://0pointer.de

[2017-11-04 20:00] dotsam commented on #40
Hi Felix,

As the error mentions, your first step is to check your `config.json` for errors at somewhere like http://jsonlint.com/. If what you included in your message is your complete `config.json` file, then it's missing a bit of information. You should look at the sample homebridge config https://github.com/nfarina/homebridge/blob/master/config-sample.json to see what else is needed, and where

[2017-11-04 20:00] #40 closed

[2017-11-04 20:12] dotsam commented on #37
Hi Dusty,

Sorry about the late response here. I've got a beta version that I haven't pushed out as stable yet because I've yet to fully test a few things, and I just haven't had the time to yet. This version should hopefully fix the problems with switching between different modes on any given command, at the expense of a small bit of additional latency. It also implements the new HomeKit colour t

[2017-11-04 20:14] dotsam commented on #35
Hi Stainless,

Any more details on exactly what the error is here? What command do you issue to Siri, and what's the response? Are you able to change colours through the Home app?

[2017-11-05 02:04] toshibochan commented on #35
Try.
One bridge can do 4 zone

"lights": {"rgbw": ["Living Room", "Downstairs", "Bedroom", "kitchen"]},
                "repeat": 1,
                "delay": 100

[2017-11-05 02:06] toshibochan commented on #35
"lights": {"rgbw": ["zone1", "zone2", "zone3", "zone4"]},

[2017-11-05 07:53] stainlessdk commented on #35
"ip_address": "172.16.10.215",
                        "version": "v6",
                        "lights": {"rgbw": ["udelys1", "gang", "laerke"]},
                        "repeat": 1,
                        "delay": 100

i have tried this, and its still the same. i can change colour from the home assistent manually. but when i tell siri she says its not supported, also when im using the dimmer wh

[2017-11-05 07:54] stainlessdk commented on #35
im telling siri to change color gang to red

[2017-11-05 09:08] toshibochan commented on #35
You can use home app to control the light on iOS?

[2017-11-05 09:08] toshibochan commented on #35
You sure you Mi-Light hub is v6?

[2017-11-05 09:14] toshibochan commented on #35
Try Change repeat to 3

[2017-11-05 09:14] stainlessdk commented on #35
yes i can change color in the app control, the hub im using is

https://www.aliexpress.com/item/Milight-WiFi-iBox2-led-Controller-USB-Cable-Wireless-Dimmer-Controller-For-Mi-Light-Series-RGBW-WW/32783130404.html?spm=2114.search0104.3.17.KbIFKo&ws_ab_test=searchweb0_0,searchweb201602_3_10152_10065_10151_10344_10068_10345_10342_5660015_10343_10340_10341_10171_10541_10084_10083_10304_10307_10302_1006

[2017-11-05 16:04] stainlessdk commented on #35
Try Change repeat to 3 <-still the same, it changes to orange / red when dimming

[2017-11-05 16:31] toshibochan commented on #35
I don’t know why for control color with Siri on v6 hub, color not correct!

[2017-11-05 16:32] toshibochan commented on #35
I have color issues to! And I don’t know why but probably is Mi-Light hub problem

[2017-11-05 16:35] stainlessdk commented on #35
but can you change color with siri, or only on the home app ?

[2017-11-05 16:44] toshibochan commented on #35
I can use Siri yes

[2017-11-05 16:44] toshibochan commented on #35
You have other devices you can control with Siri?

[2017-11-05 16:50] stainlessdk commented on #35
yes i have wiwo outlet, thats also working. what do you tell siri when you want to change color, i can turn on and off the light in my house but no color change

[2017-11-06 01:23] toshibochan commented on #35
Did you set the room? Try to add room and put the light in the room.
Exemple:
Light name: kitchen ceiling light
Room name: Kitchen
Hey Siri set the kitchen light to red
Hey Siri set kitchen ceiling light to red

[2017-11-08 18:45] davidjaystrauss opened #41 "Support For Disco Mode?"
Hi All,

This isn't really an "issue" per se, but I haven't seen much talk about supporting the built in "Disco Mode" for MiLight, or even if we could define "custom" modes, such as fading from one color to another and so on and so forth.

If this isn't the correct place to be asking this question, feel free to close the issue, but I've been using this plugin for a while and am looking for ways to

[2017-11-16 07:13] stainlessdk commented on #35
Hey Sorry for the late reply, been working my a.. off, t

its working now :1st_place_medal:

"but" only on my v6 hub, my old v5 dosent support it, but thats ok :)

[2017-11-16 07:14] stainlessdk commented on #35
but still when im dimming the orange issue returns, but siri commands works so im happy

[2017-11-27 12:02] normen commented on #37
I did test the beta and there still seems to be issues with my v4 (I think) base station running the v3 protocol, so caution is advised :) It didn't properly control the lamps, only some of the commands seemed to get through.

[2017-12-01 07:55] tystik4056 opened #43 "Unhandled rejection Error"
I updated to the latest version on homebridge (0.4.32) and it seems to have broken my milight plugin. Here is the error code I get when launching homebridge:

`Unhandled rejection Error: no response timeout
    at Timeout._onTimeout (/usr/local/lib/node_modules/homebridge-milight/node_modules/node-milight-promise/src/milight-v6-mixin.js:125:26)
    at ontimeout (timers.js:475:11)
    at tryOnTimeo

[2017-12-01 08:03] tystik4056 commented on #43
I just figured it out. I had an unknown power outage at my house that changed the ip address of my wifi box when the router restarted. I just had to update that ip address change in my .json

[2017-12-01 08:03] #43 closed

[2017-12-07 11:03] zuroph opened #44 "single bulb not supported in Homekit"
I've expanded my set up, adding in a second iBox, and updating my config file.

Prior to this, after a recent reset, one bulb in my set up would not be recognised by the Home app. It would appear in the home app in "Default room" state that it wasn't supported by Homekit, and was uneditable, so could not be removed.

I hoped that this would be resolved when I added the second iBox. I moved the aff

[2017-12-10 06:14] wadechat opened #45 "whare to find the config file ?"
whare to find the milight plugin config file ?

[2017-12-10 06:57] wadechat commented on #45
and after i config the file do i need to create the accessory

[2017-12-10 15:35] MrJoki007 opened #46 "Lights not working"
Hello,
yesterday i installed homebridge and the milight addon.
Now i can see the two lamps in the home app, but i cant controll them.
I can controll them over the MiLight iPhone App and the remote.
Its an v6 Bridge with RGB-LED-Strip-Controllers

My code is:
`        {
            "platform":"MiLight",
            "name":"MiLight",
            "bridges": [
              {
                "ip_addre

[2017-12-10 18:45] tystik4056 commented on #46
Looks like your code is off. Should look more like this I think...

{
    "platform":"MiLight",
              "name":"MiLight",
              "bridges": [
                {
                  "ip_address": "192.168.1.6",
                  "version": "v6",
                  "lights": {"fullColor": ["Name Of Device","Name Of Device","Name Of Device","Name Of Device"]},

                  "repeat": 1,

[2017-12-10 21:30] MrJoki007 commented on #46
Looks like this for me
![e9a327aa-6f3d-47fc-b3b5-7a06e89c04c8](https://user-images.githubusercontent.com/8217564/33809590-a471a362-ddf9-11e7-94a1-e1c3a459af92.png)

[2017-12-11 22:12] jenswet commented on #46
Hello,
I have the same problem.

I bought a new Milight Ibox2 and RGBW strip + controller.
Via the Milight App I can control my strip without any problems.
Via Homekit it does not work.

I use the following settings in the Milight Config:
[code]

This is my homebridge platform config:
[code]

When I apply any setting in Homekit I get this in the debug log:
[code]
But nothing changes.

Any ideas ho

[2017-12-14 15:06] pauleec commented on #39
Hi guys I have learnt that some of the early RGB-CCT Milight bulbs (early 9w stock) have firmware that is not compatible with 8-zones. Ive spoken with the manufacturer who have informed me that all the latest RGB-CCT products that have been manufactured after July 2017 support operating in an 8-Zone configuration.

[2017-12-14 16:21] wadechat opened #47 "how to create the accessories for milight"
am already make the json for config but am not sure how to create the accessories thanks

[2017-12-14 18:56] pauleec commented on #39
I noticed that the milight-ESP8266 guys have also encountered this problem and have captured some traces (see here: https://github.com/sidoh/esp8266_milight_hub/issues/95). I have a full house of RGB-CCT lights from Milight configured for 8-zone panel and handheld remotes (as well as the milight bridge). Let me know if there is any assistance I can provide to help find a speedy fix to this. Thanks

[2017-12-15 19:26] wadechat opened #48 "i cannot run the milight platform that is my second platform"
this is the code
{
"bridge": {
"name": "xxxx",
"username": "AA:BB:CC:DD:CE:33",
"port": xxxx,
"pin": "123-45-789",

"platforms": [
{
"platform": "MiLight",
"name": "MiLight",
"bridges": [
{
"ip_address": "192.168.1.51",
"version": "v6",
"lights": {
"fullColor": ["rgb-v6", null, "Bedroom", "Hallway"],
"rgbw": ["rgb-v6", "rgb-v6"]
},
"repeat": 1,
"delay": 100
},
{
"ip_address": "192.168.1.51",
"ligh

[2017-12-16 15:44] wadechat commented on #48
`{
	"bridge": {
		"name": "xxxx",
		"username": "AA:BB:CC:DD:CE:33",
		"port": 8889,
		"pin": "123-45-789",
	},
	"description": "Homebridge",
	"accessories": [],

	"platforms": [{
		"platform": "MiLight",
		"name": "MiLight",
		"bridges": [{
				"ip_address": "192.168.1.51",
				"version": "v6",
				"lights": {
					"fullColor": ["rgb-v6", null, "Bedroom", "Hallway"],
					"rgbw": ["rgb-v6", "rgb-

[2017-12-16 15:46] wadechat commented on #48
`{
	"bridge": {
		"name": "xxxx",
		"username": "AA:BB:CC:DD:CE:33",
		"port": 8889,
		"pin": "123-45-789",
	},
	"description": "Homebridge",
	"accessories": [],

	"platforms": [{
		"platform": "MiLight",
		"name": "MiLight",
		"bridges": [{
				"ip_address": "192.168.1.51",
				"version": "v6",
				"lights": {
					"fullColor": ["rgb-v6", null, "Bedroom", "Hallway"],
					"rgbw": ["rgb-v6", "rgb-

[2017-12-16 20:45] wadechat commented on #48
`
[config.json (2).txt](https://github.com/dotsam/homebridge-milight/files/1564895/config.json.2.txt)
`

[2017-12-16 20:45] #48 closed

[2017-12-16 20:47] wadechat opened #49 "Unhandled rejection Error: no response timeout"
I found this code after I done every thing and the homebridge isnt appear in my home app
any idea about this issue
Thanks,

`Unhandled rejection Error: no response timeout
    at Timeout._onTimeout (/usr/local/lib/node_modules/homebridge-milight/node_modules/node-milight-promise/src/milight-v6-mixin.js:125:26)
    at ontimeout (timers.js:365:14)
    at tryOnTimeout (timers.js:237:5)
    at Timer.l

[2017-12-16 20:48] #45 closed

[2017-12-17 20:10] jenswet commented on #46
I just checked the Limitless LED Admin tool and get the following information about the protocol:
`UDP,Server,8899,192.168.178.32`
Following is the log when I switch the zone 1 on:
[code]
This uses port 5987?

In homebridge I can see this result for the same command:
[code]

The command bytes seem wrong, any ideas where this comes from? Is the v6 really fully supported?
Thanks in advance!

[2017-12-23 16:06] MrJoki007 commented on #46
I had it working on my old install of homebridge.
Its the exact same config.
How does the bridge know what controller is the first one and whats the second?

[2017-12-23 22:45] pauleec commented on #39
Latest Node-Mi-Light-promise has now been updated to include 8 zone Full Color support.  When will the update be included in the home bridge-Mi-Light plugin. Can you include a sample config.json which shows 8 full Color zone support in the documentation? Please :-/

[2017-12-24 23:53] dotsam commented on #39
I've pushed out an update with support for the 8 zone code in node-milight-promise. This is untested as I don't have a v6 bridge/fullColor bulbs.

Basic usage is simply to add up to 8 bulbs per fullColor/v6 definition. There's an info message added to the homebridge console to advise that not all bulbs/bridges support this. To silence that warning, or disable the support (really, you should just r

[2017-12-24 23:54] dotsam commented on #34
Merged @lundberg patch for this in the latest version. Resolved.

[2017-12-24 23:54] #34 closed

[2017-12-24 23:57] dotsam commented on #49
Make sure you have the right IP address for your bridge set in your config. Also try installing the latest version as I've updated the node-milight-promise dependancy and I believe it has slightly tweaked error handling for v6 communication timeouts now.

[2017-12-25 00:01] dotsam commented on #41
Hi @davidjaystrauss,

I'll have to do some research into custom characteristics/adding extra switches to a HomeKit bulb as a way to offer these controls. Even then, they may not be supported by Siri or all HomeKit apps.

[2017-12-25 00:14] dotsam commented on #44
Hi @zuroph,

Lights currently get a UUID based only off of their name, so if there's an issue with it in the HomeKit database, even if your move it to a different bridge, that will still be an issue.

I'd start troubleshooting by removing the problem light from your config, starting Homebridge, and waiting for it to see the change and remove the light. Then add it back and see if it works. If you

[2017-12-25 00:14] #44 closed

[2017-12-25 00:26] dotsam commented on #46
All v6/iBox 2 bridges should be using UDP port 5987 for communication, so I'm not sure where these references to 8899 come from.

@jenswet All of the logs from Homekit that you've posted are only showing session setup commands and responses (starting with `0x20` and `0x28`) not any actual light commands.

@jenswet and @MrJoki007 Can you try again and provide more logs that show light commands and

[2017-12-25 10:23] fghekman commented on #39
@dotsam At installing it throws an error code (128). This is the output:
npm ERR! code 128
npm ERR! Command failed: /usr/bin/git clone -q git://github.com/mwittig/node-milight-promise.git /root/.npm/_cacache/tmp/git-clone-12003ec6
npm ERR! fatal: could not create leading directories of '/root/.npm/_cacache/tmp/git-clone-12003ec6': Permission denied
npm ERR!

I've used "sudo npm install -g homebrid

[2017-12-27 14:09] mwittig commented on #39
fyi, released node-milight-promise@0.3.0

[2017-12-27 21:37] dotsam commented on #39
@fghekman With @mwittig pushing the 8-zone support to the registry, I've switched back to that, so you should be able to try installing again and hopefully not experience the git permission issues you had before

[2018-01-02 19:18] fghekman commented on #39
@dotsam The new installer finishes correctly. I did not receive any more errors. But the new 8-zone support by @mwittig does not seem to work quite as I expected.

- The fullcolor lights are not seen as fullcolor bulbs in any home-app on my iPhone. The are seen as just ordinary (white) lightbulbs of which I can only adjust the brightness. Nothing else. So no color or saturation adjustment-bars are

[2018-01-03 02:06] dotsam commented on #39
@fghekman Thanks for testing and the details notes. I see the problem with commands not being sent for bulbs correctly, and I can push out a change to resolve this shortly. I'll also add a pass-through for the bridge timeout option so you can experiment with setting it lower.

For version 1.1.0 of my plugin, the version syntax I'm using should match node-milight-promise version 0.2.32, and functio

[2018-01-03 03:33] pauleec commented on #39
@dotsam Ive had better results than @fghekman. I can control all 8 zones successfully they are only showing as white lights and switch on to the last settinthey were on.

[2018-01-03 05:21] dotsam commented on #39
Hi @fghekman and @pauleec,

I've just published version 1.1.4, which should set up 8-zone fullColor bulbs correctly now.

In addition, you can now pass through the `fullSync`, `sendKeepAlives`, and `sessionTimeout` options to node-milight-promise (defaults found in [the source](https://github.com/mwittig/node-milight-promise/blob/master/src/milight.js)). Tweaking these may help with the timeout is

[2018-01-17 02:45] garrettks commented on #46
I am having the exact same problem. I have 1 iBox2 bridge and 4 LED strips. It works perfectly fine in the Milight app, however in home kit I get no response.

[2018-01-20 08:26] MrJoki007 commented on #46
How does the bridge know, what lamp is the first, second, third etc and how do i link the bulbs to the bridge?

[2018-02-06 00:25] romaindufour commented on #46
I don't arrive to control my lights with HomeBridge :
		{
			"platform": "MiLight",
			"name": "MiLight",
			"bridges": [{
				"ip_address": "192.168.0.7",
                             "version": "v1",
              "lights": {"rgbw": ["Kitchen","TT","Bedroom","Hallway"]},
				"repeat": 1,
				"delay": 100
			}]
		}

	],

	"accessories": [

	]

I don't have any error when I launch homebridge and c

[2018-02-06 18:32] MrJoki007 commented on #46
Ive got a fix for this problem.
First open the official milight app on your phone.
Then open the link/unlink settings.
Unlink all your milight devices from the bridge. (Make sure all zones are cleared)
Now take something like a pen and press the RST (reset) button 10 secounds on your bridge while its plugged in.
Now open the officical milight app and remove the old bridge.
Add a new bridge select

[2018-02-06 18:32] #46 closed

[2018-02-14 05:37] djnav opened #50 "lights not responsive"
could you please assist with regards to getting this work and take a look at the code below that I have:

{
            "platform": "MiLight",
            "name": "MiLight",
            "bridges": [
                {
                    "ip_address": "X.X.X.X",
                    "version": "v5",
                    "port": 8899,
                    "lights": {"rgbw": [ "Lego Lamp"]

[2018-03-02 01:24] normen opened #51 "[Feature] Support TCP protocol"
Especially with the old v3 (and older) version of the Milight boxes the UDP protocol leaves much to be desired as - depending on the network connection - it often misses packets and the lights don't react properly.

Most base stations allow switching to the TCP protocol via the web interface. This should maybe allow a more stable connection.

[2018-03-06 07:16] mwittig commented on #51
I am happy to take this one as part of Node-milight-promise

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-10 01:48] andykartman opened #52 "Turning on lights with new preset"
Not sure if this is an issue or if I have something set-up incorrectly, but whenever I sent a new command to the lights when they are off,  they always turn on with the last setting first before moving to the new setting..

This is a problem for when I setup scenes and things for late night, early morning. If I want to turn on a light in the room late at night while people are asleep, I can send a

[2018-03-10 07:29] ccleverddorf commented on #52
Guten Tag andykartman,

vielen Dank für Ihre Anfrage.

Wir haben Ihre Nachricht erhalten und werden uns in Kürze mit Ihnen in Verbindung setzen.

-------------------------------------------------------------
Datum: 2018-03-10
-------------------------------------------------------------
Name: andykartman
E-Mail: reply@reply.github.com
Gruppe: Allgemeine Fragen
-------------------------------------

[2018-03-10 12:31] andykartman commented on #33
Just a little more on the night mode. I can set my lights to light mode with the beta version, but once a light is in night mode (<5%) I cannot switch it off by homekit. I need to set the light above 5% and then it can turn off.

Is that normal behaviour?

[2018-03-10 16:00] ccleverddorf commented on #33
Guten Tag andykartman,

vielen Dank für Ihre Anfrage.

Wir haben Ihre Nachricht erhalten und werden uns in Kürze mit Ihnen in Verbindung setzen.

-------------------------------------------------------------
Datum: 2018-03-10
-------------------------------------------------------------
Name: andykartman
E-Mail: reply@reply.github.com
Gruppe: Allgemeine Fragen
-------------------------------------

[2018-04-06 07:30] fghekman commented on #39
Hi @dotsam,

I see this issue is still open. I think it can be closed now. The 8 zones are working correctly. I had some tweaking to do but the are working flawlessly. I'm not sure that the 'Unhandled rejection Error' @mwittig is referring to has got something to do with the 8 zone setup. I do see the error, and sometimes not all the lights respond directly to all the commands I send at once but I

[2018-04-10 18:21] flipmoo opened #53 "Combining 2 bridges in the config"
Hi there,

I have 2 bridges, V3 & Ibox1 (V6).
V3 is configured trough homebridge.
And i was wondering if i can add the V6 bridge to it?
And if you how? :)

Thanks in advanced

[2018-04-10 19:17] #53 closed

[2018-04-12 23:30] blloyd78 commented on #41
Is there a way to reverse engineer the Milight app to provide the necessary functionality?

[2018-04-13 07:56] mwittig commented on #41
Ben, the basic functionality to use the built-in Milight disco mode is already provided as part of the underlying base library [node-milight-promise](https://github.com/mwittig/node-milight-promise). So, there is no need to reverse engineer that. However, if I understood @dotsam's comment correctly, it needs some research to find out how the functionality can be mapped to Homekit [characteristic t

[2018-04-13 18:53] camcs1 opened #54 "Dimming with Siri"
When I ask Siri to dim the all the lights only one of the lights actually ends up dimming.
When I look at the logs while running this command I've noticed that the lights that are not dimming are actually just being set to on

`
[4/13/2018, 7:51:03 PM] [MiLight] [Lamp] Setting power state to on
[4/13/2018, 7:51:03 PM] [MiLight] [Main] Setting power state to on
[4/13/2018, 7:51:03 PM] [MiLight] [An

[2018-04-14 05:42] pauleec commented on #10
Hi, I've just updated my homebridge and have lost 4 of the 8 zones I had previously. I have tried adding the "use8zone":true which wasn't in the config file before but despite this can still only load 4zone support. Something seems to have changed in the latest update...

Here is the config.json relevant bit:

{
            "platform":"MiLight",
            "name":"DanksApartmentLighting",

[2018-04-14 07:31] pauleec commented on #39
Hi - I'm not sure if my last post got through - it seems to have dissappeared. I updated to the latest level of the homebridge-milight plugin and it no longer seems to be accepting 8 zone configurations.

here is a snippet of the config.json.

{
            "platform":"MiLight",
            "name":"MiLight",
            "use8Zone" : true,
            "bridges": [
              {
                "v

[2018-04-17 19:54] pauleec commented on #39
I’ve resolved the issue by reinstalling a new orangepi. Can you let me know where the use8zone is set (perhaps with an example file to show it)?

[2018-04-19 12:17] craigstanton commented on #22
I think I am in the same situation as other users here. I have the bridge that @Drnktxt linked to in the original question and it works find for controlling four RGBW bulbs. I'm now trying to add RGB strips. They came with a similar remote and controller to those @HonzaaD showed, except the wires out are V+,R,G, and B.

I am able to control the strips using this remote panel within the Milight app

[2018-04-19 20:16] craigstanton opened #55 "Single zone controllers"
Does this plugin support single zone controllers? I've got it controlling some bulbs that are zoned, but can't workout how to set up config.json so that a controller box like this can listen.

![screen shot 2018-04-20 at 8 11 26 am](https://user-images.githubusercontent.com/355830/39015735-75750cae-4472-11e8-99df-e19d6ce29a73.png)

Do I need to get a different controller box? and if so, would this

[2018-04-19 22:05] toshibochan commented on #55
I think You need 4 zone controller

[2018-06-05 17:41] blloyd78 commented on #50
I have just run into exactly the same problem except that my bulbs _did_ work quite well for a few months. Now the MiLight app works perfectly, but Homebridge commands do not appear to reach the iBox controller. I've checked logs and Homebridge seems to verify that commands are being sent. I can also ping the iBox from my Raspberry Pi Homebridge install.

I've even rebuilt my Homebridge server fro

[2018-06-06 15:14] blloyd78 commented on #50
UPDATE: The issue seems to be related to which "remote" the lightbulbs are twinned with. Some of the virtual remote types do not seem to play nicely with Homebridge. Check the box which your bulb was shipped in - you'll see a list of supported remotes. Once you find the right virtual remote in the Milight app, the bulbs should work correctly with Homebridge

[2018-06-08 16:48] Drnktxt commented on #22
As I recently purchased a dedicated HP Proliant DL160G6, I instantly created a Hyper-V instance running Ubuntu Server 18.04, obviously running HomeBridge, in order to revisit this thread and see if I can get the dedicated white color to work.

Some backstory leading into it, at some point in early 2016 I moved into my new house, using a mismatch of routers to serve as APs and switches in order to

[2018-07-25 01:31] HonzaaD commented on #22
Yes,

set up..

`"lights": {"rgb": ["FUT027"]},`

is half-funcional... :(

I can TurnOn/Off and Dimming, but cant change color. After click color ring, color set blue... :(

[2018-07-25 07:08] toshibochan commented on #22
Set to rgbw

[2018-07-25 08:55] HonzaaD commented on #22
When I set RGBW, the FUT027 does not work at all. :(

[2018-07-25 15:27] toshibochan commented on #22
your controller is single zone! I don't think single zone controller work in this.

[2018-07-25 16:40] HonzaaD commented on #22
Damn, pity, great pity .. :(

[2018-08-02 08:55] chietanjain opened #56 "Time out Error - need help!"
I have an automation configured in HomeKit that turns on a milight bulb (fullcolor) on a 8 zone bridge (v6).

The automation is trigerred by a motion sensor. Though the motion sensor always triggers correctly the bulb doesn't turn on at times. On seeing the logs I found that a timeout occours when the automation fails to trigger the bulb to ON. However, if at that same moment if I give a command t

[2018-08-31 19:08] davidjaystrauss commented on #41
Totally forgot I asked about this, but it seems like HomeKit itself is a bit too limited at the moment to support this feature. Still definitely possible through apps, so not that big of a deal :)

[2018-10-28 02:59] mofolo commented on #9
The Hesperus iOS App will also work with SunCalc as SunCalc doesn't seem to work with HomeKit anymore.

[2018-10-28 03:01] mofolo opened #57 "About to bite the bullet"
Not so much an issue, more a question.

About to bite the bullet on getting 2 x Milight downlights and LED strip.

I haven't seen anything about Colour changing in the HomeKit/Siri or Hesperus apps, is it possible to change the WWRGB bulbs through Homebridge?

Thanks!

[2018-12-21 10:56] Derrin616 opened #58 "color"
hi how can you set the color for a light to blue or red etc i can't find it

Derrin616

[2018-12-21 11:13] toshibochan commented on #58
![09bbfb79-0176-4fd2-8b9c-896a5a75e4bb](https://user-images.githubusercontent.com/15816913/50340089-daf30300-055c-11e9-8d49-3e0fae90e1be.jpeg)

[2018-12-21 11:37] derrinbeek commented on #58
hey Im using your NPM package with javascript

[2018-12-21 23:13] dotsam commented on #58
This package is designed exclusively for use with Homebridge. If you're looking to communicate more generically with MiLight bulbs, you probably want to look at the underlying library I use, https://github.com/mwittig/node-milight-promise

[2018-12-21 23:13] #58 closed

[2019-02-05 11:49] zuroph opened #59 "second bridge added fails to load as a light option"
Hi,

When adding multiple iBox bridges (the one that has a built in light), the second one added shows up in Home App as an unsupported device, and then cannot be removed/edited/assigned a room. I have two bridges, and have rotated the order they're listed, the second one is always the failed one to use as a light (the connected bulbs all still work as expected, its literally just the inbuilt ligh

[2019-02-25 10:16] craigstanton commented on #57
Did you buy RGBWW bulbs/strips and did they work?

[2019-02-25 12:51] mofolo commented on #57
I purchased the down-lights and the colours do indeed change on Homebridge - however the colour selection on the Home app is not accurate. For example, white temperatures are often quite jolty.

I don't find myself using the colours or changing the tempreture very often, so the "Hey Siri, turn on Kitchen lights" works extremely well, with the occasional reset needed on the Homekit server (I'm just

[2019-02-25 21:28] djsomi opened #60 "New series controllers (YL5 and others)"
Hi Guys,

I've just purchased a new wifi controller, like this:

https://www.futlight.com/productdetails.aspx?id=343&typeid=100

Is it supported by the plugin? With V6 it was not working.

Many Thanks!

[2019-03-25 10:28] chietanjain opened #61 "New controllers, temperature control and resetting to red issues"

[2019-03-25 10:31] chietanjain commented on #61
How can i help in resolving these issues?

[2019-03-26 16:54] turbidWaters commented on #56
This issue resolved by itself, I dont get any timeout errors anymore!

[2019-03-26 16:54] #56 closed

[2019-03-30 00:59] Tazintosh commented on #60
Bumping this.
I just bought an YL5 and cannot manage to get it work with Homebridge.
Web UI cannot be accessed either because of browser sandboxing: "Sandboxing 'http://XXX.XXX.XXX.XXX/' because it is using HTTP/0.9"

Does anyone have been able to directly use it with Homebridge?

[2019-04-18 19:44] #61 closed

[2019-07-21 08:59] djsomi commented on #60
Any news on this Guys?

[2019-09-15 18:22] janczakb opened #62 "Problem when changing color in homekit application"
I have a led list that is only detected using "fullColor".
Changing colors by voice commands works well.
However, I have problems in the application (colors change randomly and overwrite when you change).

Example:
![ezgif-5-6c9fb60827aa](https://user-images.githubusercontent.com/4959534/64925819-6781d780-d7f6-11e9-84ba-b98aa14f4f5a.gif)

[2019-09-21 15:17] buenyamin-olgun opened #63 "Getting "no response timeout""
Hello,
I'm using iBox2 ( https://www.amazon.com/Controller-iBox2-Wireless-Smartphone-Downlight/dp/B01N7C3HXQ ) to remote control RGB+CCT (FUT103) lamps.
The app works fine, but can't use this module.

Before doing anything just by starting homebridge (using homebridge in Debug Mode) I'm getting this error:
[code]

When I try to change a lamp on I'm getting the following output / error:
[code]

Her

[2019-09-30 21:45] alexij1997 commented on #62
I have the same problem with CW/WW-controller and RGB-controller, that only detected like "fullcolor".

[2019-10-04 13:31] tokeraabjerg commented on #62
Same issue here. Started a few days ago.

[2019-10-15 02:51] bwalls commented on #50
I'm running into what seems to be the same problem with RGBW strip lights, using a set from MiLight.

The night I first started testing, I connected the RF controller to a light switch, and paired the physical remote. I was able to control it. Set up the WiFi bridge, and it worked with the iPhone app. Set up homebridge-milight, and was able to control both the strip and the bridge light.

After th

[2019-11-21 20:20] tokeraabjerg commented on #62
Has anyone found a solution to this issue? This is still occurring for me, making it really awkward to change light colors with HomeKit.

[2019-12-30 13:44] djsomi commented on #60
Hey guys, did you manage to find anything about these controllers? Would be nice to implement into homebridge.

Thanks!

[2020-01-06 15:09] ddnl commented on #60
Hi,
i also bought the YL5 but it#s not working.
Any Updates planned regarding the YL5?

BR

[2020-01-06 16:30] kovapatrik opened #64 "Is there a way to control all zones at once?"
I mean, is there an option, which creates an accessory in the Home app for all the zones for 1 bridge? Or for 1 "lights" object?

[2020-01-11 15:34] JoniVR commented on #62
I suspect this is either an issue with [node-milight-promise](https://github.com/mwittig/node-milight-promise) or something with the bridges themselves. I'm experiencing the same issue both with this implementation and homebridge and with the home-assistant homekit implementation. So I suspect they are using the same api library or there is something else going on.

edit: I just noticed that home

[2020-01-14 15:04] #64 closed

[2020-02-01 12:08] marithpl opened #65 "RGB CCT support"
Is this plugin support RGB CCT (RGB cold/warm white) ?

[2020-02-27 10:28] normen commented on #60
Guys, don't buy the overpriced MiLight boxes, just build a Milight-Hub which can control 200,000 lamps instead of 8 or 4 :)

https://github.com/sidoh/esp8266_milight_hub

[2020-03-02 05:30] matthias-zivim opened #67 "Update 0.4.50 to 0.4.52 -> Error, HB no longer start"
With the update to v0.4.52 the following message appears

Node.js Version v12.14.1
Npm Version v6.13.6

[3/2/2020, 6:24:55 AM] Error: The requested platform 'MiLight' was not registered by any plugin.
    at API.platform (/usr/local/lib/node_modules/homebridge/lib/api.js:134:13)
    at Server._loadPlatforms (/usr/local/lib/node_modules/homebridge/lib/server.js:327:45)
    at Server.run (/usr/local

[2020-03-02 15:44] marcoschmidt79 commented on #67
same problem

Node 13.9.0
NPM 6.13.7

`Mär 02 16:41:10 homebridge homebridge[13223]: [2.3.2020, 16:41:10] Error: The requested platform 'MiLight' was not registered by any plugin.
Mär 02 16:41:10 homebridge homebridge[13223]:     at API.platform (/usr/local/lib/node_modules/homebridge/lib/api.js:134:13)
Mär 02 16:41:10 homebridge homebridge[13223]:     at Server._loadPlatforms (/usr/local/lib/node

[2020-03-02 16:23] matthias-zivim commented on #67
I have not been able to get another MiLight plugin to work. I have an iBox2

[2020-03-03 00:43] dotsam commented on #67
There's a fix in #68 from @fkistner that I'll try and get in to a new release either today or tomorrow.

[2020-03-03 05:48] marcoschmidt79 commented on #67
Thank you so much.

[2020-03-03 13:23] shinzan111 commented on #67
Yes, same issue here.  After Update Homebridge update Milight plugin doesn't work anymore. Could that please be fixed? Would be really helpful.
thx

[2020-03-03 20:08] dotsam commented on #67
Version 1.1.5 should be published now which fixes loading with Homebridge 0.4.52 and higher.

[2020-03-03 20:08] #67 closed

[2020-04-16 08:25] douginoz commented on #60
Same problem with the YL5 replacement, the WL5.

[2020-04-16 08:40] douginoz opened #71 "Please recommend a compatable controller"
(Firstly, why are light emitting DIODE strips referred to as the 1950's word "bulb"...)
Anyway....
I just bought some CCT LED strips (ones with both a WW and a CW LED side by side) that allow me to adjust brightness and temp, connected via 3 wires to a WL5 controller.

But it doesn't appear that the WL5/YL5 is controllable with homebridge-milight nor anything else I can find apart from their apps

[2020-04-18 10:58] normen commented on #62
This happens when you let HomeKit have a rgb and color temperature dial at the same time, see the explanation here: https://github.com/normen/homebridge-milighthub-platform#rgbcct--rgbww-lamps

[2020-04-18 11:01] normen commented on #71
As I said in the other thread you posted in, get the Open Source MiLight Hub: https://github.com/sidoh/esp8266_milight_hub It works MUCH MUCH MUCH better than the crappy MiLight boxes. And "building" is not the right word there, you just plug a bunch of wires - no soldering, no complicated setup. I bet you already spent more time on this than you will putting that together.

[2020-04-18 13:01] tokeraabjerg commented on #62
Great! I'm looking forward to testing your code then. Although skimming through the Readme I didn't see any apparent support for changing the colors of the Milight hub itself?

[2020-04-18 13:33] normen commented on #62
What is "changing the colors of the milight hub" supposed to mean? Of course you can change the colors of RGB(W) lights with the plugin. It's meant for the OSS milight-hub though, not for the official milight boxes.

[2020-04-18 17:05] tokeraabjerg commented on #62
I mean the milight wifi box 2, that has lights a well serving a purpose of a small lamp while also being the hub

[2020-04-18 17:15] normen commented on #62
Again, my plugin is for the open source hardware called "MiLight Hub" ([see this link here](https://github.com/sidoh/esp8266_milight_hub)) which controls MiLight bulbs directly without any other hardware. It is not for the commercial MiLight boxes.

[2020-04-18 17:21] tokeraabjerg commented on #62
Alright, yeah I figured that out. I'll look into it soon, it looks promising.

Thanks for doing this work, and I prob should've read further into the Readme before asking dumb questions. Sorry for wasting your time😁

[2020-06-19 07:54] Tamas92 commented on #49
I have the same issue:

Unhandled rejection Error: no response timeout
    at Timeout._onTimeout (/usr/lib/node_modules/homebridge-milight/node_modules/node-milight-promise/src/milight-v6-mixin.js:128:26)
    at listOnTimeout (internal/timers.js:549:17)
    at processTimers (internal/timers.js:492:7)

Is there any solution for that?

[2020-10-12 23:38] cbeckmann opened #72 "Setting Color Temperature via Home.app does not work for OSRAM LIGHTIFY Indoor Flex RGBW"
Hi,

I'm experiencing a strange behavior with an OSRAM LIGHTIFY Indoor Flex RGBW.

On Eve.App when setting color temperature, it uses the white LED and sets correctly:
`[10/13/2020, 1:46:11 AM] [Hue] Lichtschlauch: light ct changed from 346 to 487
[10/13/2020, 1:46:11 AM] [Hue] Lichtschlauch: set homekit color temperature from 346 mired to 487 mired`

However, on Home.app it translates the color t

[2020-10-15 23:01] dotsam commented on #72
Looks like you opened this in the wrong repo, but I see you’ve made https://github.com/ebaauw/homebridge-hue/issues/781 now.

[2020-10-15 23:01] #72 closed

[2020-10-27 13:37] 1aranzant commented on #60
I can get my WL5 partly to work with homebridge when I add it on the Tuya smart app (and tuya homebridge plugin).
But it gives the following error:
`[TuyaWebPlatform] Error retrieving devices states TypeError: Cannot read property 'brightness' of undefined
    at LightAccessory.updateState (/usr/lib/node_modules/homebridge-tuya-web/lib/light_accessory.js:227:39)
    at LightAccessory.updateAccesso

[2020-12-30 18:23] bwalls opened #73 "[30/12/2020, 12:19:59] [MiLight] [192.168.1.204] no response timeout"
I've started getting the above from a formerly-working v6 setup. I haven't made any changes to speak of, and the LED strips still work with the Mi-Light app. Thoughts?

Here's my config:

{
    "platform": "MiLight",
    "name": "MiLight",
    "bridges": [
        {
            "ip_address": "192.168.1.204",
            "version": "v6",
            "lights": {
                "rgbw": [

[2021-02-13 10:55] ralfvanuden commented on #59
I have exact the same problem

[2021-02-21 18:31] AlexNoop opened #74 "Error on Homebridge 1.3.0"
Hello, i have this error on homebridge 1.3.0 :

[2/21/2021, 6:27:26 PM] [homebridge-milight] This plugin generated a warning from the characteristic 'Color Temperature': characteristic was supplied illegal value: number 140 exceeded minimum of 153. See https://git.io/JtMGR for more info.

My config :

{
            "platform": "MiLight",
            "name": "MiLight",
            "bridges": [

[2021-02-23 19:13] AlexNoop commented on #74
for info, same in 1.3.1

[2021-03-01 08:58] yvesdecloedt commented on #74
same issue here. It started after upgrading my node.js to v14.16

[2021-03-01 09:28] composerkaumann commented on #74
Because this plugin seems to be abandoned I had to switch to Homebridge Milight V6 which works with nodejs 15 and hb 131

[2021-03-01 09:51] yvesdecloedt commented on #74
unfortunately the Homebridge Milight V6 does not work with the 'white' led controller. At least there is no selection for 'white' and the other types do not seem to work.
I am a bit stuck. I am using node-red as main platform. The available milight plugins in node-red are very unstable (sometimes they work/sometimes they don't) and I used homebridge (milight v1.1.5) + integration in node-red for m

[2021-03-01 17:48] dotsam commented on #74
So this warning is the opposite of the sort of warning HomeBridge is actually trying to warn about. In this case, I've set the min/max of the colour temperature characteristic to match the stated range of the MiLight bulbs. My assumption was that HomeKit apps would read the characteristic's mix/max values and not send values outside of that, but that doesn't seem to be the case. So the HomeKit app

[2021-03-03 19:32] elo111 opened #75 "Error on Homebridge 1.3.1"
Hello,
do you already have a solution for the problem, the Homebridge starts, but the connection to the Apple Home APP is no longer established.

[2021-03-04 04:44] dotsam commented on #75
Can you provide any more details here? I don't believe my plugin generates any issues that would prevent Homebridge from loading correctly.

[2021-03-04 04:53] dotsam commented on #74
Published 1.1.6 which should fix this warning.

[2021-03-04 04:53] #74 closed

[2021-03-04 11:58] elo111 commented on #75
Sorry, but I have the same problems as some others. I just read the entries too late.

homebridge-milight] This plugin generated a warning from the characteristic 'Color Temperature': characteristic was supplied illegal value: number 140 exceeded minimum of 153. See https://git.io/JtMGR for more info.

I saw that since today you provide an update (1.16) because of this problem. Will install it ton

[2021-03-04 20:21] elo111 commented on #75
Hello,
with today's update of milight 1.1.6 my homebridge under 1.3.2 works perfectly again.

kind regards

Von meinem iPad gesendet

Ernst Lochbühler

[2021-03-04 22:34] jameswood opened #76 "Select bulb every time"
We have a mix of Alexas, Siris and rf remotes — and family habits around which ones we use.

Homekit assumes it still has control over the last bulb it spoke to, but Alexa may have sent a command in the meantime. This means that Siri can end up setting the brightness/colour of the wrong bulb. A disaster when the baby is asleep 😆

For explanation: the plugin does not send an ON command (which is ho

[2021-03-05 08:34] samsonrosen commented on #76
If you use the homebridge-Alexa plugin with Alexa it will control your Mi-Lights by homebridge rather than directly through the hub. That will keep the status accurate across homebridge/Alexa. I don’t think there’s an answer for the remotes.

[2021-03-05 09:42] jameswood commented on #76
Thanks for your reply!

I tried homebridge-Alexa and it worked well but doesn't seem to support night-light mode, which is a dealbreaker for us. Your plugin works way better, and now that I've hacked it a bit it plays nicely with Alexa in my weird use-case. Ta!

[2021-03-05 09:42] #76 closed

[2021-03-05 18:06] #75 closed

[2021-05-25 08:46] gkhb88 opened #77 "WL-Box1 2.4GHZ Gateway how do I configure this for this plugin"
WL-Box1 2.4GHZ Gateway how do I configure this for this plugin.

what parameters do I need to change for it to work?
I have FUT014and FUTC04

[2021-06-20 13:54] Bartruit opened #78 "Can't get IBOX2 work with Homebridge and this NPM"
Hello everone,
This is the config i use, but i can't get my head around it. When i load Homebridgde i'm not getting an error when i try v6 or v3 version. If tried it with the RGBWW on te place of white, but that doen't help. My Ip adress is correct, because i change the "Network Parameters setting Protocol" from TCP to UDP and the port is still 8899.

The only thing i have is 1 zone with some led

[2021-08-10 13:33] Stein1308 opened #79 "no response timeout"
Using 3 MiLight wifi boxes v6 in separate vlan for IoT devices (no access to internet).
Homebridge is on pi in another separate vlan.
Routing and firewall rules for traffic between clan's is ok.
MiLights are working fine, all lights can be controlled by homebridge / homekit.
However log in homebridge is flooded with message from plugin:
Unhandled rejection Error: no response timeout
    at Timeout

[2021-09-05 00:24] bwalls commented on #73
Was able to fix it, finally, by adding:
                    "port": "5987",

for a complete entry of:
      {
            "platform": "MiLight",
            "name": "MiLight",
            "bridges": [
                {
                    "ip_address": "192.168.1.204",
                    "version": "v6",
                    "port": "5987",
                    "lights": {
                        "

[2021-09-05 00:29] #73 closed

[2021-09-28 13:49] Kroellie commented on #65
+1

[2022-02-03 09:40] labirinth30 opened #80 "milight yl1s doesn't work"
Does someone know if it supported or not?
I cant get it working. I have the ledstrip in mi-light cloud app and it's working.

JSON config:
`{
    "platform": "MiLight",
    "name": "MiLight",
    "bridges": [
        {
            "ip_address": "192.168.0.122,
            "version": "v2",
            "lights": {
                "rgbw": [
                    "Bedroom"
                ]

[2022-02-21 11:27] ClaLas commented on #80
still not working. i have it in Home app, but it doesnt react to ON/OFF.

[2022-03-14 10:29] patryk-grudzien-keen commented on #77
Hey, any updates on that? Have you managed to figure it out?

[2022-03-15 04:40] gkhb88 commented on #77
Hi

Didn’t work with homebridge unfortunately

[2022-03-15 08:00] patrykgrudzien commented on #77
Hi,
Have you tried any workaround or given it up?

[2022-03-15 09:43] gkhb88 commented on #77
Hi
Given up
Using Google home assist

[2022-03-15 11:13] patrykgrudzien commented on #77
Hi,
Thanks for the response! Would you mind sharing some tutorials on how to configure it?